<div class="sidenav1">
    <img src="assets/img/bg.png" class="pro-img" />
</div>
<div id="mySidenav" class="sidenav">
    <a href="http://localhost:4200/dashboard">
        <h2>Dashboard</h2>
    </a>
    <a href="http://localhost:4200/society">
        <h2>Society</h2>
    </a>
    <a href="http://localhost:4200/transaction">
        <h2>Transaction Histotry</h2>
    </a>
    <a href="http://localhost:4200/report">
        <h2>Report </h2>
    </a>
    <a href="http://localhost:4200/tickets">
        <h2>Tickets</h2>
    </a>

    <a href="http://localhost:4200/usermanagement">
        <h2>User Management</h2>
    </a>
</div>
<div id="main">
    <div class="head">
        <div class="col-div-6">
            <span class="nav">SOCIETY</span>

        </div>

    </div>

    <!-- <button class="btn success">Back</button>  -->
    <div class="example-label">

        <a routerLink="/dashboard">
            <button id="button" type="button" mat-button>Back</button>
        </a>
    </div>
    <div class="box-8">
        <div class="content-box">
            <div class="container">
                <div class="row">
                    <div class="search-hero">
                        <!-- <div class="page"> 
            <mat-paginator class="page" [length]="1000" 
            [pageSize]="5" 
            [pageSizeOptions]="[5, 10, 25, 100]"> 
</mat-paginator> 
</div> -->
                        <a routerLink="/addcity">
                            <section id="btn">
                                <button mat-raised-button color="primary">Add Your City</button>
                            </section>
                            </a>

                        <label>Select Your State </label>
                        <label>State : </label>
                        <select [(ngModel)]="cityId" value="stateid" (ngModelChange)="onCity()">
                            <option *ngFor="let state of allstate | filter:searchText | paginate: { itemsPerPage: 5, currentPage: pages}" [value]="state.stateid">
                                {{state.statename}}
                            </option>
                        </select>

                        <input class="form-control" type="text" name="search" [(ngModel)]="searchText"
                            autocomplete="off" placeholder="Search here..">
                    </div>

                    <table class="table table-striped">
                        <tr>

                            <th class="THC">City Name</th>


                        </tr>


                        <tr *ngFor="let city of allcity">
                            <td>{{city.cityname}}</td>
                        </tr>

                    </table>
                    <pagination-controls (pageChange)="pages = $event"></pagination-controls>


                    <div class="containers">



                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(".nav").click(function () {
        $("#mySidenav").css("width", "70px");
        $("#main").css("margin-left", "70px");
        $(".logo").css("visibility", "hidden");
        $(".logo span").css("visibility", "visible");
        $(".logo span").css("margin-left", "-10px");







        $(".icon-a").css("visibility", "hidden");
        $(".icons").css("visibility", "visible");
        $(".icons").css("margin-left", "-8px");
        $(".nav").css("display", "none");
        $(".nav2").css("display", "block");
    });

    $(".nav2").click(function () {
        $("#mySidenav").css("width", "300px");
        $("#main").css("margin-left", "300px");
        $(".logo").css("visibility", "visible");
        $(".icon-a").css("visibility", "visible");
        $(".icons").css("visibility", "visible");
        $(".nav").css("display", "block");
        $(".nav2").css("display", "none");
    }); 
</script>