<p>reset-password works!</p>
<body>
    
    <div class="box-8">
      <div class="content-box">
        <div class="container">
          <div class="row">
            <div class="search-hero">
              <table class="table table-striped">
                <div class="rowset">
                  <tr>

                    <h1 style="color: blue;"> Create New Password</h1>
                      <label class="lbl">NewPassword :</label>
                      <br>

                      <input type="password" [(ngModel)]="password" name="password">
                      <label class="lbl"> Confirm NewPassword :</label>

                      <input type="password" [(ngModel)]="confirmPassword" name="confirmPassword">

                      <form [formGroup]="passwordForm">
  <input type="password" formControlName="password" name="password">
  <input type="password" formControlName="confirmPassword" name="confirmPassword">
  <div *ngIf="passwordForm.hasError('mismatch')">
    Passwords do not match
  </div>
</form>

                             <br>
                 
                    <div>
                      <section>
                        <button
                          class="bt"
                          id="btns"
                          (click)="onSubmit()"
                          mat-raised-button
                          color="primary"
                        >
                          Submit
                        </button>
                      </section>
                    </div>
                  </tr>
                </div>

                {{
                  successMessage
                }}
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  
</body> 