<p>reset-password works!</p>
<body>
    
    <div class="box-8">
      <div class="content-box">
        <div class="container">
          <div class="row">
            <div class="search-hero">
              <table class="table table-striped">
                <div class="rowset">
                  <tr>

                    <h1 style="color: blue;"> Create New Password</h1>
                      <label class="lbl">enter NewPassword :</label>

                      <input [(ngModel)]="NewPassword" type="text" />
                    <br />
                 
                    <div>
                      <section>
                        <button
                          class="bt"
                          id="btns"
                          (click)="onSubmit()"
                          mat-raised-button
                          color="primary"
                        >
                          Submit
                        </button>
                      </section>
                    </div>
                  </tr>
                </div>

                {{
                  successMessage
                }}
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  
</body> 