<body>
    <div class="box-8">
      <div class="content-box">
        <div class="containers">
          
            <div class="search-hero">
              <table class="table table-striped">
                <div class="rowset">
                  <tr>
                    <h1 style="color:white ;background-color: #031B7B;">Change Password</h1>
                    <label class="lbl">Current Password :</label>
  
                    <input style="margin-left: 22px;" [(ngModel)]="password" type="text" />
                    <br />
                    <label class="lbl1">New Password :</label>
                    <input  [(ngModel)]="newPasswords" type="text" />
                    <br />
                    <label class="lbl2"> Confirm Password :</label>

                    <input style="margin-left: -10px;" type="password" [(ngModel)]="confirmPassword" name="confirmPassword">

                    <form [formGroup]="passwordForm">
<input type="password" formControlName="password" name="password">
<input type="password" formControlName="confirmPassword" name="confirmPassword">
<div *ngIf="passwordForm.hasError('mismatch')">
  Passwords do not match
</div>
</form>
  
                    <div >
                      <section >
                        <button
                         
                          id="btns"
                          (click)="onSubmit()"
                          mat-raised-button
                          color="primary"
                        >
                          Submit
                        </button>
                      </section>
                    </div>
                  </tr>
                </div>
  
             
              </table>
            </div>
          
        </div>
      </div>
    </div>
  </body>
  