<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
<div class="w3-card-4" style="width: 100%; margin-top: 50px">
  <header class="w3-container w3-light-grey">
    <h1><b>KYC Details</b></h1>
  </header>

  <table>
    <tr>
      <th>ID Proof Number</th>
      <th>Pan Card Number</th>
      <th>Driving Licence</th>
      <th>Document Type</th>
      <th>Status</th>
      <th>Approved By</th>
      <th>Approved Date & Time</th>
      <th>Created Date & Time</th>
      <th>Signzy Status</th>
      <th>File Type</th>
      <th>Front View</th>
      <th>Back View</th>
    </tr>

    <tr *ngFor="let kyc of viewKYc">
      <ng-container *ngIf="!kyc?.panCardNumber && !kyc?.drivingLicenseNo">
        <td>{{ kyc?.aadhaarCardNumber }}</td>
      </ng-container>
      <ng-container *ngIf="!kyc?.aadhaarCardNumber && !kyc?.drivingLicenseNo">
        <td>{{ kyc?.panCardNumber }}</td></ng-container
      >
      <ng-container *ngIf="!kyc?.aadhaarCardNumber && !kyc?.panCardNumber">
        <td>{{ kyc?.drivingLicenseNo }}</td></ng-container
      >
      <td>{{ kyc?.docType }}</td>
      <td>{{ kyc?.status }}</td>
      <td>{{ kyc?.approvalBy }}</td>
      <td>{{ kyc?.approvalDatetime }}</td>
      <td>{{ kyc?.createdDatetime }}</td>
      <td>{{ kyc?.signzyStatus }}</td>
      <td>{{ kyc?.fileType }}</td>
      <button
        [routerLink]="['/view-workers-kyc', kyc?.dailHelpKycDocumentId, 1]"
      >
        View
      </button>
      <button
        [routerLink]="['/view-workers-kyc', kyc?.dailHelpKycDocumentId, 2]"
      >
        View
      </button>
    </tr>
  </table>
</div>
