<!-- <form [formGroup]="form" (ngSubmit)="onSubmit()">
  <label for="city">City</label>
  <input id="city" type="text" formControlName="city" />
  <span *ngIf="city?.invalid && (city?.dirty || city?.touched)">
    <span *ngIf="city?.errors?.['required']">city is required</span> </span
  >&nbsp;
  <label for="society">Society</label>
  <input id="society" type="text" formControlName="society" />
  <label for="pinCode">Pın Code</label>
  <input id="pinCode" type="text" formControlName="pinCode" />
  <label for="email">Email</label>
  <input id="email" type="text" formControlName="email" />
  <span *ngIf="email?.invalid && (email?.dirty || email?.touched)">
    <span *ngIf="email?.errors?.['required']">email is required</span>
    <span *ngIf="email?.errors?.['email']">email not correct</span> </span
  >&nbsp;
  <button [disabled]="!form.valid" type="submit">Submit</button>
</form> -->