<!-- <body>
  <div class="box-8">
    <div class="content-box">
      <div class="container">
        <div class="row">
          <div class="search-hero">
            <table class="table table-striped">
              <div class="rowset">
                <tr>
                  <h1 style="color: blue">Verify OTP</h1>
                  <label class="lbl">Enter OTP :</label>

                  <input placeholder="Enter Your OTP" [(ngModel)]="OTPCode" type="text" />
                  <br />
                  <br>

         

                  <button     id="btns"
                  mat-raised-button
                  color="primary" (click)="resend()">Resend OTP</button>
             

                  <div>
                    <section>
                      <button
                        class="bt"
                        id="btns"
                        (click)="onSubmit()"
                        mat-raised-button
                        color="primary"
                      >
                        Submit
                      </button>
                    </section>
                  </div>
                </tr>
              </div>

              {{
                successMessage
              }}
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</body> -->

<!-- ///////////////////////// -->
<!DOCTYPE html>
<html>
  <head>
    <style>
      .grid-container {
        display: grid;
        grid-template-columns: auto auto auto;

        background-color: #031b7b;
      }
      .grid-item {
        background-color: green;

        padding: 20px;
        font-size: 30px;
        text-align: center;
      }
    </style>
  </head>
  <body>
    <div class="grid-container">
      <div class="grid-item" style="border-top-left-radius: 15px"></div>
      <div class="grid-item">
        <h1
          style="background-color: #031b7b; color: white; border-radius: 15px"
        >
          Verify OTP
        </h1>
      </div>
      <div class="grid-item" style="border-top-right-radius: 15px"></div>
      <div class="grid-item"></div>
      <div class="grid-item">
        <input placeholder="Enter Your OTP" [(ngModel)]="OTPCode" type="text" />
        <br />
        <button id="btns" mat-raised-button color="primary" (click)="resend()">
          Resend OTP
        </button>
      </div>
      <div class="grid-item"></div>
      <div class="grid-item" style="border-bottom-left-radius: 15px"></div>
      <div class="grid-item" style="padding-left: 27%">
        <section>
          <button
            class="bt"
            id="btns"
            (click)="onSubmit()"
            mat-raised-button
            color="primary"
          >
            Submit
          </button>
        </section>
        {{ successMessage }}
      </div>
      <div class="grid-item" style="border-bottom-right-radius: 15px"></div>
    </div>
  </body>
</html>
