<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
<div class="navbar-top">
  <div class="title">
    <h4 id="Profile">User Profile</h4>
  </div>
</div>

<div class="w3-card-4" style="width: 100%; text-align: end;">
  <header class="w3-container w3-light-blue">
    <!-- <label for=""><b>User Active InActive Status Control</b></label><br><br>
    <td class="sn3"><ui-switch size="small" [checked]="isactive" (change)="onSubmit($event)"></ui-switch></td> -->
  </header>

  <div class="w3-container">
    <div class="w3-card-4" style="width: 100%;"></div>
    <div class="grid-container">
      <div class="grid-item">
        <h4><b>Name :</b> {{ allUserById?.fullName }}</h4>
      </div>

      <div class="grid-item">
        <h4><b>Email :</b> {{ allUserById?.email }}</h4>
      </div>

      <div class="grid-item">
        <h4><b>Gender :</b> {{ allUserById?.gender }}</h4>
      </div>

      <div class="grid-item">
        <h4><b>Contact No :</b> {{ allUserById?.mobile }}</h4>
      </div>

      <div class="grid-item">
        <h4><b>Company Name :</b> {{ allUserById?.companyname }}</h4>
      </div>

      <div class="grid-item">
        <h4><b> Address :</b> {{ allUserById?.address }}</h4>
      </div>

      <div class="grid-item">
        <h4><b>State : </b>{{ allUserById?.state }}</h4>
      </div>

      <div class="grid-item">
        <h4><b>Society : </b>{{ allUserById?.societyname }}</h4>
      </div>

      <!-- <div class="grid-item">
        <h4><b>ModifiedDatetime : </b>{{ allUserById?.modifiedDatetime }}</h4>
      </div> -->

      <div class="grid-item">
        <h4><b>CreatedDateTime : </b>{{ allUserById?.createdDateTime }}</h4>
      </div> 
<!-- 
      <div class="grid-item">
        <h4><b>ModifiedBy : </b>{{ allUserById?.roleId.modifiedBy }}</h4>
      </div>
<!--  -->
      <!-- <div class="grid-item">
        <h4> <b>ModifiedDateTime : </b>{{ allUserById?.roleId.modifiedDateTime }}</h4>

      </div>
        -->
      <div class="grid-item">

      </div>


    </div>
  </div>
</div>
<div class="w3-card-4" style="width: 100%;">
  <div class="navbar-top">
    <div class="title">
      <h4 id="Profile">User Bank Details</h4>
    </div>
  </div>
  
  <div class="w3-container">
    
  </div>
    <div class="w3-card-4" style="width: 100%;"></div>
    <div class="grid-container">
      <div class="grid-item">

        <table>
          <tr *ngFor="
              let bank of BankDetail
                | paginate : { itemsPerPage: 5, currentPage: pages }
            ">
            <td>
              <div class="grid-item"><b>BankName</b></div>
            </td>
            <td>{{ bank?.bankName }}</td>
            <td>
              <div class="grid-item"><b>Account Holder Name</b></div>
            </td>
            <td>{{ bank?.bankAccountName }}</td>
            <td>
              <div class="grid-item"><b>Bank Account Number</b></div>
            </td>
            <td>{{ bank?.bankAccountNumber }}</td>
            <td>
              <div class="grid-item"><b>IFSC Code</b></div>
            </td>
            <td>{{ bank?.iFSCCode }}</td>
            <td>
              <div class="grid-item"><b>Bank Branch</b></div>
            </td>
            <td>{{ bank?.bankBranch }}</td>
            <td>
              <div class="grid-item"><b>primaryAccount:</b></div>
            </td>
            <td [ngClass]="{
              Active: bank?.primaryAccountStatus === 1,
              InActive: bank?.primaryAccountStatus === 0}">
              {{ bank?.primaryAccountStatus===1 ? "Active" :"InActive" }}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>