
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
<div class="navbar-top">
  <div class="title">
    <h4 id="Profile">User Profile</h4>
  </div>
</div>

<div class="w3-card-4" style="width: 100%;">
  <header class="w3-container w3-blue">
    
  </header>

  <div class="w3-container">
    <div class="w3-card-4" style="width: 100%;"></div>
    <div class="grid-container">
      <div class="grid-item">
        <h4><b>Name :</b> {{ allUserById?.fullname }}</h4>
      </div>

      <div class="grid-item">
        <h4><b>Email :</b> {{ allUserById?.email }}</h4>
      </div>

      <div class="grid-item">
        <h4><b>Gender :</b> {{ allUserById?.gender }}</h4>
      </div>

      <div class="grid-item">
        <h4><b>Contact No :</b> {{ allUserById?.mobile }}</h4>
      </div>

      <div class="grid-item">
        <h4><b>Company Name :</b> {{ allUserById?.companyname }}</h4>
      </div>

      <div class="grid-item">
        <h4><b> Address :</b> {{ allUserById?.address }}</h4>
      </div>

      <div class="grid-item">
        <h4><b>State : </b>{{ allUserById?.state }}</h4>
      </div>

      <div class="grid-item">
        <h4><b>Society : </b>{{ allUserById?.societyname }}</h4>
      </div>

      <div class="grid-item">
        <h4><b>ModifiedDatetime : </b>{{ allUserById?.modifiedDatetime }}</h4>
      </div>

      <div class="grid-item">
        <h4><b>CreatedDateTime : </b>{{ allUserById?.createdDateTime }}</h4>
      </div>

      <div class="grid-item">
        <h4><b>ModifiedBy : </b>{{ allUserById?.roleId.modifiedBy }}</h4>
      </div>

      <div class="grid-item">
        <h4> <b>ModifiedDateTime : </b>{{ allUserById?.roleId.modifiedDateTime }}</h4>
       
      </div>
    </div>
  </div>
</div>
