<body>

    <div class="sidenav1">
        <img src="assets/img/bg.png" class="pro-img" />
    </div>


    <div id="mySidenav" class="sidenav">
        <!-- <p class="logo"><span></span>Admin</p> -->
        <a routerLink="/dashboard">
            <h2>Dashboard</h2>
        </a>
        <a href="http://localhost:4200/usermanagement">
            <h2>User Management</h2>
        </a>
        <!-- <a href="http://localhost:4200/profile"><h2>Admin Profiles</h2></a> -->
        <a href="http://localhost:4200/society">
            <h2>Society</h2>
        </a>
        <a href="http://localhost:4200/tickets">
            <h2>Tickets</h2>
        </a>
    </div>
    <div id="main">
        <div class="head">
            <div class="col-div-6">
                <span class="nav">Tickets</span>
                <!-- <span style="font-size: 30px; cursor: pointer; color: white" class="nav2">☰ Tickets</span> -->

            </div>

            <div class="col-div-6">
                <div class="profile">
                    <!-- <span>Logout</span> -->
                </div>
            </div>

        </div>
        <!-- <div class="example-label">
      
            <a routerLink="/dashboard">
              <button id="button" type="button" mat-button >Dashboard</button>
            </a>
            </div>
         -->

        <div class="col-div-14">
            <div class="box-8">
                <div class="content-box">

                    <table class="border">
                        <tr>
                            <th class="THC">S.No</th>
                            <th class="THC">RequestId</th>
                            <th class="THC">CreateDate</th>
                            <th class="THC">CreatorName</th>
                            <th class="THC">Description</th>
                            <th class="THC">CategoryName</th>
                            <th class="THC">Assigned Id</th>
                            <th class="THC">Assigned To</th>
                            <th class="THC">Status</th>



                        </tr>

                        <tr class="border" *ngFor="let tickets of allTickets">

                            <td class="border">{{ tickets.id}}</td>
                            <td>{{ tickets.requestedId}}</td>
                            <td>{{ tickets.createdDatetime}}</td>
                            <td>{{ tickets.createdBy}}</td>
                            <td>{{ tickets.description}}</td>
                            <td>{{ tickets.raiseCategoryId.raiseCategoryName}}</td>
                            <td>{{ tickets.assignedById.assignedId}}</td>
                        
                            <td >{{ tickets.assignedById.assignedByName}}</td>
                            
                            <strong>
                                <td     [ngClass]="{'changing': tickets.status === 'Pending', 'green' : tickets.status === 'Resolved' }">{{ tickets.status}}</td>
                            </strong>



                        </tr>
                    </table>
                </div>
            </div>
        </div>

    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
</body>