
<!-- <body>
    
  <div  class="sidenav1"> -->
    <!-- <img src="assets/img/logonew.jpg" class="pro-img" /> -->
    <!-- <img src="assets/img/FIXXUP-logopreview.png" class="pro-img" /></div>

    
    <div id="mySidenav" class="sidenav"> -->
        <!-- <p class="logo"><span></span>Admin</p> -->
        <!-- <a routerLink="/dashboard"> <h2>Dashboard</h2></a> -->
        <!-- <a href="http://localhost:4200/usermanagement"><h2>User Management</h2></a> -->
        <!-- <a href="http://localhost:4200/profile"><h2>Admin Profiles</h2></a> -->
        <!-- <a routerLink="/society"><h2>Society</h2></a>
        <a routerLink="/transactionhistory"><h2>Transaction History</h2></a> -->

        <!-- <a routerLink="/reports"><h2>Reports</h2></a> -->
<!-- 
        <a routerLink="/tickets" ><h2>Tickets</h2></a>
        <div id="mysidenav">
            <cdk-accordion class="example-accordion">
              <cdk-accordion-item *ngFor="let item of itemss; let index = index;" #accordionItem="cdkAccordionItem"
                class="example-accordion-item" role="button" tabindex="0" [attr.id]="'accordion-header-' + index"
                [attr.aria-expanded]="accordionItem.expanded" [attr.aria-controls]="'accordion-body-' + index">
                <div class="example-accordion-item-header" (click)="accordionItem.toggle()">
                  {{ item }}
      
                </div>
                <div class="example-accordion-item-body" role="region" [style.display]="accordionItem.expanded ? '' : 'none'"
                  [attr.id]="'accordion-body-' + index" [attr.aria-labelledby]="'accordion-header-' + index">
                  <a routerLink="/manager">
                    <h2>Society Managers</h2>
                  </a>
                  <a routerLink="/usermanagement">
                    <h2 class="x">Users </h2>
                  </a>
                </div>
              </cdk-accordion-item>
            </cdk-accordion>
            <cdk-accordion class="example-accordion">
              <cdk-accordion-item *ngFor="let item of items; let index = index;" #accordionItem="cdkAccordionItem"
                class="example-accordion-item" role="button" tabindex="0" [attr.id]="'accordion-header-' + index"
                [attr.aria-expanded]="accordionItem.expanded" [attr.aria-controls]="'accordion-body-' + index">
                <div class="example-accordion-item-header" (click)="accordionItem.toggle()">
                  {{ item }}
      
                </div>
                <div class="example-accordion-item-body" role="region" [style.display]="accordionItem.expanded ? '' : 'none'"
                  [attr.id]="'accordion-body-' + index" [attr.aria-labelledby]="'accordion-header-' + index">
                  <a routerLink="/listcity">
                    <h2 class="xy">City Model</h2>
                  </a>
                  <a routerLink="/listpincode">
                    <h2>PinCode Model</h2>
                  </a>
                </div>
              </cdk-accordion-item>
            </cdk-accordion>
          </div>
      
    </div>
    <div id="main">
        <div class="head">
            <div class="col-div-6">
                <span  class="nav">Tickets</span> -->
                <!-- <span style="font-size: 30px; cursor: pointer; color: white" class="nav2">☰ Tickets</span> -->
<!--  
        </div>

        <div class="col-div-6">
            <div class="profile"> -->
              <!-- <span>Logout</span> -->
            <!-- </div>
          </div>
       
        </div>
         <div class="example-label">
      
            <a routerLink="/dashboard">
              <button id="button" type="button" mat-button >BACK</button>
            </a>
            </div>

       
        <div class="col-div-14">
            <div class="box-8">
                <div class="content-box">
                    <div class="container"> 
                        <div class="row"> 
                          <div class="search-hero"> 
                             <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="on" 
                              placeholder="Search here..">
                          </div>
                      <table class="table table-striped" class="border">
            
                    
                        <tr>
                            <th class="THC">S.No</th>
                            <th class="THC">RequestId</th>                           
                            <th class="THC">CreateDate</th>
                            <th class="THC">CreatorName</th>
                            <th class="THC">Description</th>
                            <th class="THC">CategoryName</th>
                            <th class="THC">Assigned Id</th>
                            <th class="THC">Assigned To</th>
                            <th class="THC">Status</th>



                        </tr> -->
                        <!-- <ul *ngFor="let society of allSociety">
              <li (click)="onDetail(society.id)"> {{ society.societyname }}</li>
             </ul> -->
                        <!--               
    <li *ngFor="let block of blockData">
      {{ block.blockid }}
      {{ block.blockname }}
      {{block.searchSociety.societyname}} -->

<!-- 

                        <tr class="border" *ngFor="let tickets of allTickets  | filter:searchText  | paginate:  { itemsPerPage: 5, currentPage: pages}">

                            <td class="border" >{{ tickets.id}}</td>
                            <td>{{ tickets.requestedId}}</td>
                            <td>{{ tickets.createdDatetime}}</td>
                            <td>{{ tickets.createdBy}}</td>
                            <td>{{ tickets.description}}</td>
                            <td>{{ tickets.raiseCategoryId.raiseCategoryName}}</td>
                            <td>{{ tickets.assignedById.assignedId}}</td>
                            <td>{{ tickets.assignedById.assignedByName}}</td>
                            <td>{{ tickets.status}}</td>



                        </tr>
                    </table>
                    
          <div class="pg">

            <pagination-controls  (pageChange)="pages = $event"></pagination-controls>

          </div>

          <div class="containers">


                </div>
            </div>
        </div>

    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(".nav").click(function () {
            $("#mySidenav").css("width", "70px");
            $("#main").css("margin-left", "70px");
            $(".logo").css("visibility", "hidden");
            $(".logo span").css("visibility", "visible");
            $(".logo span").css("margin-left", "-10px");


            $(".icon-a").css("visibility", "hidden");
            $(".icons").css("visibility", "visible");
            $(".icons").css("margin-left", "-8px");
            $(".nav").css("display", "none");
            $(".nav2").css("display", "block");
        });

        $(".nav2").click(function () {
            $("#mySidenav").css("width", "300px");
            $("#main").css("margin-left", "300px");
            $(".logo").css("visibility", "visible");
            $(".icon-a").css("visibility", "visible");
            $(".icons").css("visibility", "visible");
            $(".nav").css("display", "block");
            $(".nav2").css("display", "none");
        });
    </script> -->



                                                                             <!-- New Designing page -->




  <div class="container">
    <nav class="head">Tickets </nav>
  
    <div id="sidebar">
      <div class="grid-container">
        <div class="grid-item">
          <img src="assets/img/FIXXUP-logopreview.png" class="pro-img" />
        </div>
        <div class="grid-item">
          <h4 class="h" (click)="DashboardComponent()">Dashboard</h4>
        </div>
        <div class="grid-item">
          <h4 class="h" (click)="SocietyComponent()">Society</h4>
        </div>
        <div class="grid-item" >
        
            <h4 class="h" (click)="Transactionhitoryomponent()">Transaction History</h4>
        
        </div>
        <div class="grid-item">
         
            <h4 class="h" (click)="TicketsComponenets()">Tickets</h4>
          
        </div>
        
           <cdk-accordion class="example-accordion">
           <cdk-accordion-item  style="font-size: 16px; text-align: left;" *ngFor="let item of itemss; let index = index;" #accordionItem="cdkAccordionItem"
            class="example-accordion-item" role="button" tabindex="0" [attr.id]="'accordion-header-' + index"
            [attr.aria-expanded]="accordionItem.expanded" [attr.aria-controls]="'accordion-body-' + index">
            <div class="example-accordion-item-header" (click)="accordionItem.toggle()">
              {{ item }}
    
            </div>
            <div class="example-accordion-item-body" role="region" [style.display]="accordionItem.expanded ? '' : 'none'"
              [attr.id]="'accordion-body-' + index" [attr.aria-labelledby]="'accordion-header-' + index">
             
                <h4 class="x1" (click)="ManagerComponents()">Society Managers</h4>
              
            
                <h4 class="x2"  (click)="UsermanagementComponent()">Users </h4>
              
            </div>
          </cdk-accordion-item>
        </cdk-accordion>
       <cdk-accordion class="example-accordion">
          <cdk-accordion-item  style="font-size: 16px;" *ngFor="let item of items; let index = index;" #accordionItem="cdkAccordionItem"
            class="example-accordion-item" role="button" tabindex="0" [attr.id]="'accordion-header-' + index"
            [attr.aria-expanded]="accordionItem.expanded" [attr.aria-controls]="'accordion-body-' + index">
            <div class="example-accordion-item-header" (click)="accordionItem.toggle()">
              {{ item }}
    
            </div>
            <div class="example-accordion-item-body" role="region" [style.display]="accordionItem.expanded ? '' : 'none'"
              [attr.id]="'accordion-body-' + index" [attr.aria-labelledby]="'accordion-header-' + index">
             
                <h4 class="x3" (click)="ListcityComponent()">City</h4>
              
              
                <h4 class="x4" (click)="ListpincodeComponenet()">PinCode</h4>
                <h4 class="x5"  (click)="ListstateComponent()">State</h4>
            
                <h4 class="x6" (click)="RolelistComponent()">Role</h4>
                <h4 class="x6" (click)="VisitorCategoryComponent()">Visitors</h4>
                <h4 class="x6" (click)="ComplaintCategory()">Complaints</h4>
                <h4 class="x6" (click)="DaikyHelp()">Daily Helper</h4>
            </div>
          </cdk-accordion-item>
        </cdk-accordion>
        <cdk-accordion class="example-accordion">
          <cdk-accordion-item style="text-align: start;" *ngFor="let item of items1; let index = index;" #accordionItem="cdkAccordionItem"
            class="example-accordion-item" role="button" tabindex="0" [attr.id]="'accordion-header-' + index"
            [attr.aria-expanded]="accordionItem.expanded" [attr.aria-controls]="'accordion-body-' + index">
            <div class="example-accordion-item-header" (click)="accordionItem.toggle()">
              {{ item }}
    
            </div>
            <div class="example-accordion-item-body" role="region" [style.display]="accordionItem.expanded ? '' : 'none'"
              [attr.id]="'accordion-body-' + index" [attr.aria-labelledby]="'accordion-header-' + index">
              
                <h4 class="x7" (click)="SocietyBasedVisitorsComponent()">Society Visitors</h4>
             
             
                <h4 class="x7" (click)="SocietyDailyWorkersComponent()">Daily Workers</h4>
        
             
                <h4 class="x7" (click)="SocietyTicketWorkersComponent()">Tickets Workers</h4>
             
            
                <h4 class="x7" (click)="SocietyEmergencyContactComponent()">Emergency Contact</h4>
       
                
                <h4 class="x7" (click)="SocietySecurityGuardComponent()">Society Security Guard</h4>
                <h4 class="x7" (click)="SocietyPromotion()">Society Promotions</h4>

            </div>
          </cdk-accordion-item>
        </cdk-accordion>
      </div>
     
    </div>
    <div id="content"> <button  id="export"   mat-raised-button color="primary" (click)="exportToExcel()">Export to Excel</button>
</div>
    <div id="content1"> <div class="search-hero">
      <input
        class="form-control"
        type="text"
        name="search"
        [(ngModel)]="searchText"
        autocomplete="on"
        placeholder="Search here.."
      />
    </div></div>
    <div id="content2"> 
      <section>
        <button id="btns" mat-raised-button color="primary" (click)="Transactionhitoryomponent()">
          Back
        </button>
      </section>
    </div>
    <main style="height: 40px;"><table class="grid-table">
      <tr >
       
        <td class="grid-items item2">
            <table   id="season-tble" class="grid-table-inner">
                <tr style="height: 40px;">
                    <th class="grid-item-inner inner1">S.No</th>
                    <th class="grid-item-inner inner2">RequestId</th>
                    <th class="grid-item-inner inner3">CreateDate</th>   
                    <th class="grid-item-inner inner4">CreatorName</th>
                    <th class="grid-item-inner inner5">Description</th>
                    <th class="grid-item-inner inner6">CategoryName</th>
                    <th class="grid-item-inner inner7">Assigned Id</th>
                    <th class="grid-item-inner inner8">Assigned To</th>
                    <th class="grid-item-inner inner9">Status </th>

                </tr>
               

                <tr   *ngFor="let tickets of allTickets  | filter:searchText  | paginate:  { itemsPerPage: 10, currentPage: pages}">

                  <td style="height: 40px;">{{ tickets.id}}</td>
                  <td style="height: 40px;">{{ tickets.requestedId}}</td>
                  <td style="height: 40px;">{{ tickets.createdDatetime}}</td>
                  <td style="height: 40px;">{{ tickets.createdBy}}</td>
                  <td style="height: 40px;">{{ tickets.description}}</td>
                  <td style="height: 40px;">{{ tickets.raiseCategoryId.raiseCategoryName}}</td>
                  <td style="height: 40px;">{{ tickets.assignedById.assignedId}}</td>
                  <td style="height: 40px;">{{ tickets.assignedById.assignedByName}}</td>
                  <strong>
                    <td     [ngClass]="{'changing': tickets.status === 'Pending', 'green' : tickets.status === 'Resolved' }">{{ tickets.status}}</td>
                </strong>


              </tr>
            </table>
        </td>
      
      </tr>
    </table>
    </main>
    <div id="footer"> <div class="pg">
  
      <pagination-controls  (pageChange)="pages = $event"></pagination-controls>
  
    </div></div>
  </div>
  
