<div class="container">
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
  />
  <nav class="head">Manager</nav>
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css"
  />
  <script
    src="https://kit.fontawesome.com/a076d05399.js"
    crossorigin="anonymous"
  ></script>
  <link href="https://css.gg/edit-flip-h.css" rel="stylesheet" />
  <div id="sidebar">
    <div class="grid-container">
      <div class="grid-item">
        <img src="assets/img/fixxup_logo_final.jpg" class="pro-img" />
      </div>
      <div class="grid-item">
        <h4 class="h" (click)="DashboardComponent()">
          <i
            class="fa fa-home"
            style="font-size: 18px; color: #031b7b; margin-right: 10px"
          ></i
          >Dashboard
        </h4>
      </div>
      <div class="grid-item">
        <h4 class="h" (click)="SocietyComponent()">
          <i
            class="fa-solid fa-building"
            style="font-size: 16px; margin-right: 15px; color: #031b7b"
          ></i
          >Society
        </h4>
      </div>
      <div class="grid-item">
        <h4 class="h" (click)="TransactionhitoryComponent()">
          <i
            class="fa-solid fa-landmark"
            style="font-size: 14px; margin-right: 13px; color: #031b7b"
          ></i
          >Transaction History
        </h4>
      </div>
      <div class="grid-item">
        <h4 class="h" (click)="TicketsComponenets()">
          <i
            class="fa fa-ticket"
            style="font-size: 18px; margin-right: 10px; color: #031b7b"
          ></i
          >Tickets
        </h4>
      </div>

      <cdk-accordion class="example-accordion">
        <cdk-accordion-item
          style="font-size: 16px; text-align: left"
          *ngFor="let item of itemss; let index = index"
          #accordionItem="cdkAccordionItem"
          class="example-accordion-item"
          role="button"
          tabindex="0"
          [attr.id]="'accordion-header-' + index"
          [attr.aria-expanded]="accordionItem.expanded"
          [attr.aria-controls]="'accordion-body-' + index"
        >
          <div
            class="example-accordion-item-header"
            (click)="accordionItem.toggle()"
          >
            <i
              class="far fa-address-card"
              style="font-size: 16px; margin-right: 10px; color: #031b7b"
            ></i>
            {{ item }}
            <i
              class="fas fa-angle-down"
              style="font-size: 18px; margin-left: 30px"
            ></i>
          </div>
          <div
            class="example-accordion-item-body"
            role="region"
            [style.display]="accordionItem.expanded ? '' : 'none'"
            [attr.id]="'accordion-body-' + index"
            [attr.aria-labelledby]="'accordion-header-' + index"
          >
            <h4 class="x1" (click)="ManagerComponents()">
              <i
                class="fas fa-user-tie"
                style="font-size: 16px; margin-right: 10px; color: #031b7b"
              ></i
              >Society Managers
            </h4>

            <h4 class="x2" (click)="UsermanagementComponent()">
              <i
                class="fa fa-user"
                aria-hidden="true"
                style="font-size: 16px; margin-right: 16px; color: #031b7b"
              ></i
              >Users
            </h4>
          </div>
        </cdk-accordion-item>
      </cdk-accordion>

      <cdk-accordion class="example-accordion">
        <cdk-accordion-item
          style="font-size: 16px"
          *ngFor="let item of items; let index = index"
          #accordionItem="cdkAccordionItem"
          class="example-accordion-item"
          role="button"
          tabindex="0"
          [attr.id]="'accordion-header-' + index"
          [attr.aria-expanded]="accordionItem.expanded"
          [attr.aria-controls]="'accordion-body-' + index"
        >
          <div
            class="example-accordion-item-header"
            (click)="accordionItem.toggle()"
          >
            <i
              class="fas fa-user-plus"
              style="font-size: 16px; margin-right: 10px; color: #031b7b"
            ></i>
            {{ item }}
            <i
              class="fas fa-angle-down"
              style="font-size: 18px; margin-left: 68px"
            ></i>
          </div>
          <div
            class="example-accordion-item-body"
            role="region"
            [style.display]="accordionItem.expanded ? '' : 'none'"
            [attr.id]="'accordion-body-' + index"
            [attr.aria-labelledby]="'accordion-header-' + index"
          >
            <h4 class="x3" (click)="ListcityComponent()">
              <i
                class="fas fa-city"
                style="font-size: 16px; margin-right: 10px; color: #031b7b"
              ></i
              >City
            </h4>

            <h4 class="x4" (click)="ListpincodeComponenet()">
              <i
                class="fa-sharp fa-solid fa-location-pin"
                style="font-size: 16px; margin-right: 10px; color: #031b7b"
              ></i
              >PinCode
            </h4>
            <h4 class="x5" (click)="ListstateComponent()">
              <i
                class="fas fa-bookmark"
                style="font-size: 16px; margin-right: 10px; color: #031b7b"
              ></i
              >State
            </h4>

            <h4 class="x6" (click)="RolelistComponent()">
              <i
                class="fas fa-portrait"
                style="font-size: 16px; margin-right: 10px; color: #031b7b"
              ></i
              >Role
            </h4>
            <h4 class="x6" (click)="VisitorCategoryComponent()">
              <i
                class="fas fa-archway"
                style="font-size: 16px; margin-right: 10px; color: #031b7b"
              ></i
              >Visitors
            </h4>
            <h4 class="x6" (click)="ComplaintCategory()">
              <i
                class="fas fa-hand-paper"
                style="font-size: 16px; margin-right: 10px; color: #031b7b"
              ></i
              >Complaints
            </h4>
            <h4 class="x6" (click)="DaikyHelp()">
              <i
                class="fas fa-people-carry"
                style="font-size: 16px; margin-right: 10px; color: #031b7b"
              ></i
              >Daily Helper
            </h4>
          </div>
        </cdk-accordion-item>
      </cdk-accordion>
      <cdk-accordion class="example-accordion">
        <cdk-accordion-item
          style="text-align: start"
          *ngFor="let item of items1; let index = index"
          #accordionItem="cdkAccordionItem"
          class="example-accordion-item"
          role="button"
          tabindex="0"
          [attr.id]="'accordion-header-' + index"
          [attr.aria-expanded]="accordionItem.expanded"
          [attr.aria-controls]="'accordion-body-' + index"
        >
          <div
            class="example-accordion-item-header"
            (click)="accordionItem.toggle()"
          >
            <i
              class="fa-solid fa-city"
              style="font-size: 16px; margin-right: 10px; color: #031b7b"
            ></i>
            {{ item }}
            <i
              class="fas fa-angle-down"
              style="font-size: 18px; margin-left: 10px"
            ></i>
          </div>
          <div
            class="example-accordion-item-body"
            role="region"
            [style.display]="accordionItem.expanded ? '' : 'none'"
            [attr.id]="'accordion-body-' + index"
            [attr.aria-labelledby]="'accordion-header-' + index"
          >
            <h4 class="x7" (click)="SocietyBasedVisitorsComponent()">
              <i
                class="fas fa-users"
                style="font-size: 16px; margin-right: 10px; color: #031b7b"
              ></i
              >Society Visitors
            </h4>

            <h4 class="x7" (click)="SocietyDailyWorkersComponent()">
              <i
                class="fa-solid fa-users-gear"
                style="font-size: 16px; margin-right: 10px; color: #031b7b"
              ></i
              >Daily Workers
            </h4>

            <h4 class="x7" (click)="SocietyTicketWorkersComponent()">
              <i
                class="fas fa-user-tag"
                style="font-size: 16px; margin-right: 10px; color: #031b7b"
              ></i
              >Society Assist
            </h4>

            <h4 class="x7" (click)="SocietyEmergencyContactComponent()">
              <i
                class="fas fa-phone-alt"
                style="font-size: 16px; margin-right: 10px; color: #031b7b"
              ></i
              >Emergency Contact
            </h4>

            <h4 class="x7" (click)="SocietySecurityGuardComponent()">
              <i
                class="fas fa-user-secret"
                style="font-size: 16px; margin-right: 9px; color: #031b7b"
              ></i
              >Society Security Guard
            </h4>
            <h4 class="x7" (click)="SocietyPromotion()">
              <i
                class="fas fa-images"
                style="font-size: 16px; margin-right: 10px; color: #031b7b"
              ></i
              >Society Promotions
            </h4>
            <h4 class="x7" (click)="DueAmount()">
              <i
                class="fa fa-money"
                style="font-size: 18px; margin-right: 10px; color: #031b7b"
              ></i>
              Maintenance Due
            </h4>
          </div>
        </cdk-accordion-item>
      </cdk-accordion>
    </div>
  </div>
  <div id="content">
    <section>
      <button
        id="btns"
        (click)="AddmanagerComponent()"
        mat-raised-button
        color="primary"
      >
        Add managers
      </button>
    </section>
  </div>
  <div id="content1">
    <div class="search-hero">
      <input
        class="form-control"
        type="text"
        name="search"
        [(ngModel)]="searchText"
        autocomplete="on"
        placeholder="Search here.."
      />
    </div>
  </div>
  <div id="content2">
    <section>
      <button id="btns" (click)="Dashboard()" mat-raised-button color="primary">
        Back
      </button>
    </section>
  </div>
  <main style="height: 30px">
    <table class="grid-table">
      <tr>
        <td class="grid-items item2">
          <table class="grid-table-inner">
            <tr style="height: 40px">
              <th class="grid-item-inner inner1" class="sn">S.No</th>
              <th class="grid-item-inner inner1" class="s">Society</th>
              <th class="grid-item-inner inner2" class="s">Name</th>
              <th class="grid-item-inner inner3" class="s">Email</th>
              <th class="grid-item-inner inner3" class="s">Created By</th>
              <th class="grid-item-inner inner3" class="s">Modified By</th>
              <th class="grid-item-inner inner1" class="sn">Mobile Number</th>
              <th class="grid-item-inner inner2" class="s">City</th>
              <th class="grid-item-inner inner3" class="s">User Status</th>
              <th class="grid-item-inner inner1" class="s">Blood Group</th>
              <th class="grid-item-inner inner2" class="sn">Emergency No.</th>
              <th class="grid-item-inner inner3" class="s">
                Emergency Contact Name
              </th>
              <th class="grid-item-inner inner3" class="s">
                Relationship Status
              </th>
              <th class="grid-item-inner inner3" class="sn">View</th>
              <th class="grid-item-inner inner3" class="sn">KYC Document</th>
              <th class="grid-item-inner inner3" class="sn">Aproved Status</th>
            </tr>

            <tr
              *ngFor="
                let manager of allManager
                  | filter : searchText
                  | paginate : { itemsPerPage: 10, currentPage: pages };
                let i = index
              "
            >
              <td align="left" class="v-align-middlle" class="sn1">
                {{ i + 1 }}
              </td>

              <td class="sn2">{{ manager?.searchSociety.societyname }}</td>
              <td class="sn2">{{ manager?.fullName }}</td>
              <td class="sn2">{{ manager?.email }}</td>
              <td class="sn2">{{ manager?.createdBy }}</td>
              <td class="sn2">{{ manager?.modifiedBy }}</td>
              <td class="sn3">{{ manager?.mobile }}</td>
              <td class="sn1">{{ manager?.address }}</td>
              <td class="sn3">
                {{ manager?.userStatus === 1 ? "Active" : "InActive" }}
              </td>
              <td class="sn2">{{ manager?.bloodGroup }}</td>
              <td class="sn3">{{ manager?.emergencyContactNumber }}</td>
              <td class="sn2">{{ manager?.emergencyContactName }}</td>
              <td class="sn2">{{ manager?.relationshipStatus }}</td>
              <td
                class="sn3"
                (click)="onManagerId(manager.societyManagerId)"
                (click)="bankDetail(manager.societyManagerId)"
              >
                <button class="btns1">
                  <span
                    id="boot-icon"
                    class="bi bi-eye-fill"
                    style="color: #031b7b"
                  ></span>
                </button>
              </td>
              <td
                class="sn3"
                (click)="SocietyManagerKYC(manager.societyManagerId)"
              >
                <button class="btns1">
                  <span
                    id="boot-icon"
                    class="bi bi-eye-fill"
                    style="color: #031b7b"
                  ></span>
                </button>
              </td>
              <td class="sn3">
                <button id="btns1" mat-raised-button color="white">
                  <i style="color: #031b7b" class="fa fa-pencil-square"></i>
                </button>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </main>
  <div id="footer">
    <div class="pg">
      <pagination-controls (pageChange)="pages = $event"></pagination-controls>
    </div>
  </div>
</div>
