<body>

    <div class="sidenav1">
        <img src="assets/img/bg.png" class="pro-img" />
    </div>
    <div id="mySidenav" class="sidenav">
        <a routerLink="/dashboard">
            <h2>Dashboard</h2>
        </a>
        <a href="http://localhost:4200/society">
            <h2>Society</h2>
        </a>
        <a href="http://localhost:4200/Transaction">
            <h2>Transaction Histotry</h2>
        </a>
        <a href="http://localhost:4200/report">
            <h2>Report </h2>
        </a>
        <a href="http://localhost:4200/tickets">
            <h2>Tickets</h2>
        </a>

        <a href="http://localhost:4200/usermanagement">
            <h2>User Management</h2>
        </a>
    </div>
    <div id="main">
        <div class="head">
            <div class="col-div-6">
                <span class="nav">Add Pincode</span>

            </div>

        </div>


        <div class="box-8">
            <div class="content-box">
                <div class="container">
                    <div class="row">
                        <div class="search-hero">


                            <table class="table table-striped">

                                <div class="rowset">
                                    <tr>
                                        <label class="lab">State : </label>
                                        <select [(ngModel)]="stateId" value="stateid" class="text"
                                            (ngModelChange)="onCity(stateId)">
                                            <option *ngFor="let state of allState" [value]="state.stateid">
                                                {{state.statename}}
                                            </option>
                                        </select>
                              
                                        <option value=""></option>
                                        
                                        <label>Add city </label>
                                        <select [(ngModel)]="cityId" value="cityid" (ngModelChange)="onCityId(cityId)">
                                            <option *ngFor="let city of allcity" [value]="city.cityid">
                                                {{city.cityname}}
                                            </option>
                                        </select>
                                        <br>
                                        <br>

                                        <label for="">Pincode:</label>

                                        <input [(ngModel)]="PincodeNumber" type="text"  >
                                        <br>
                                        <br>
                                    
                        
                                        <button 
                                            (click)="onSubmit()">Submit</button>

                                    </tr>
                                </div>
                                {{successMessage}}
                                <!-- credits -->


                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

       
        <!-- main app container -->