<!-- <body>

    <div class="sidenav1"> -->
        <!-- <img src="assets/img/logonew.jpg" class="pro-img" /> -->
        <!-- <img src="assets/img/FIXXUP-logopreview.png" class="pro-img" />
    </div>
    <div id="mySidenav" class="sidenav">
        <a routerLink="/dashboard">
            <h2>Dashboard</h2>
        </a>
        <a routerLink="/society">
            <h2>Society</h2>
        </a>
        <a routerLink="/transactionhistory">
            <h2>Transaction Histotry</h2>
        </a> -->
        <!-- <a routerLink="/report">
            <h2>Report </h2>
        </a> -->
        <!-- <a routerLink="/tickets">
            <h2>Tickets</h2>
        </a> -->

        <!-- <a href="http://localhost:4200/usermanagement">
            <h2>User Management</h2>
        </a> -->
        <!-- <div id="mysidenav">
            <cdk-accordion class="example-accordion">
              <cdk-accordion-item *ngFor="let item of itemss; let index = index;" #accordionItem="cdkAccordionItem"
                class="example-accordion-item" role="button" tabindex="0" [attr.id]="'accordion-header-' + index"
                [attr.aria-expanded]="accordionItem.expanded" [attr.aria-controls]="'accordion-body-' + index">
                <div class="example-accordion-item-header" (click)="accordionItem.toggle()">
                  {{ item }}
      
                </div>
                <div class="example-accordion-item-body" role="region" [style.display]="accordionItem.expanded ? '' : 'none'"
                  [attr.id]="'accordion-body-' + index" [attr.aria-labelledby]="'accordion-header-' + index">
                  <a routerLink="/manager">
                    <h2>Society Managers</h2>
                  </a>
                  <a routerLink="/usermanagement">
                    <h2 class="x">Users </h2>
                  </a>
                </div>
              </cdk-accordion-item>
            </cdk-accordion>
            <cdk-accordion class="example-accordion">
              <cdk-accordion-item *ngFor="let item of items; let index = index;" #accordionItem="cdkAccordionItem"
                class="example-accordion-item" role="button" tabindex="0" [attr.id]="'accordion-header-' + index"
                [attr.aria-expanded]="accordionItem.expanded" [attr.aria-controls]="'accordion-body-' + index">
                <div class="example-accordion-item-header" (click)="accordionItem.toggle()">
                  {{ item }}
      
                </div>
                <div class="example-accordion-item-body" role="region" [style.display]="accordionItem.expanded ? '' : 'none'"
                  [attr.id]="'accordion-body-' + index" [attr.aria-labelledby]="'accordion-header-' + index">
                  <a routerLink="/listcity">
                    <h2 class="xy">City Model</h2>
                  </a>
                  <a routerLink="/listpincode">
                    <h2>PinCode Model</h2>
                  </a>
                </div>
              </cdk-accordion-item>
            </cdk-accordion>
          </div>
      
    </div>
    <div id="main">
        <div class="head">
            <div class="col-div-6">
                <span class="nav">Add Pincode</span>

            </div>

        </div>
        <div class="example-label">
   
            <a routerLink="/listpincode">
              <button id="button" type="button" mat-button>Back</button>
            </a>
          </div>

        <div class="box-8">
            <div class="content-box">
                <div class="container">
                    <div class="row">
                        <div class="search-hero">


                            <table class="table table-striped">

                                <div class="rowset">
                                    <tr>
                                        <label class="lbl">State : </label>
                                        <select [(ngModel)]="stateId" value="stateid" class="txt"
                                            (ngModelChange)="onCity(stateId)">
                                            <option *ngFor="let state of allState" [value]="state.stateid">
                                                {{state.statename}}
                                            </option>
                                        </select>
                              
                                        <option value=""></option>
                                        
                                        <label class="lbl">Add city </label>
                                        <select [(ngModel)]="cityId" value="cityid" (ngModelChange)="onCityId(cityId)">
                                            <option *ngFor="let city of allcity" [value]="city.cityid">
                                                {{city.cityname}}
                                            </option>
                                        </select>
                                        <br>
                                        <br>

                                        <label class="lbl">Pincode:</label>

                                        <input [(ngModel)]="PincodeNumber" type="text"  >
                                        <br>
                                        <br>
                                    
                                      <section>
                                        <button
                                        class="bt"
                                        id="btns"  (click)="onSubmit()" mat-raised-button color="primary" >Submit</button></section>
                                           

                                    </tr>
                                </div>
                                {{successMessage}} -->
                                <!-- credits -->

<!-- 
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->

       
        <!-- main app container -->
<!-- 
        
        <div class="box-8">
            <div class="content-box">
                <div class="container">
                    <div class="row">
                        <div class="search-hero">


                            <table class="table table-striped">

                                <div class="rowset">
                                    <tr>

                                       
                                        <option value=""></option>
                                        <label class="lbl" >State : </label>
                                        <select class="boxx" [(ngModel)]="stateId" value="stateid" (ngModelChange)="onState()">
                                            <option *ngFor="let state of allstate" [value]="state.stateid">
                                                {{state.statename}}
                                            </option>
                                        </select>
                                        
                                        <br>
                                        <br>

                                        <label class="lbl1" >City Name:</label>

                                        <input class="boxx1" [(ngModel)]="CityName" type="text">
                                        <br>
                                        <br>
                                        <div class="example-label1">
              
                                            <section>
                                          <button id="btns" mat-raised-button color="#5f80e5"  >Submit</button></section>
                                         
                          
                                        </div>


                                    </tr>
                                </div>
                                {{successMessage}}
                                 credits 


                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->

             

  <div class="container">
    <nav class="head">Add Pincode </nav>
  
    <div id="sidebar">
      <div class="grid-container">
        <div class="grid-item">
          <img src="assets/img/FIXXUP-logopreview.png" class="pro-img" />
        </div>
        <div class="grid-item">
          <h2 style="color: white;" (click)="DashboardComponent()">Dashboard</h2>
        </div>
        <div class="grid-item">
          <h2 style="color: white" (click)="SocietyComponent()">Society</h2>
        </div>
        <div class="grid-item" >
        
            <h2 style="color: white" (click)="TransactionhitoryComponent()">Transaction Histotry</h2>
        
        </div>
        <div class="grid-item">
         
            <h2 style="color: white" (click)="TicketsComponenets()">Tickets</h2>
          
        </div>
        <div class="grid-item">
           <cdk-accordion class="example-accordion">
           <cdk-accordion-item  style="font-size: 16px; text-align: left;" *ngFor="let item of itemss; let index = index;" #accordionItem="cdkAccordionItem"
            class="example-accordion-item" role="button" tabindex="0" [attr.id]="'accordion-header-' + index"
            [attr.aria-expanded]="accordionItem.expanded" [attr.aria-controls]="'accordion-body-' + index">
            <div class="example-accordion-item-header" (click)="accordionItem.toggle()">
              {{ item }}
    
            </div>
            <div class="example-accordion-item-body" role="region" [style.display]="accordionItem.expanded ? '' : 'none'"
              [attr.id]="'accordion-body-' + index" [attr.aria-labelledby]="'accordion-header-' + index">
             
                <h2 style="color: white" (click)="ManagerComponents()">Society Managers</h2>
              
            
                <h2 class="x" style="color: white" (click)="UsermanagementComponent()">Users </h2>
              
            </div>
          </cdk-accordion-item>
        </cdk-accordion></div>
        <div class="grid-item"> <cdk-accordion class="example-accordion">
          <cdk-accordion-item  style="font-size: 16px;" *ngFor="let item of items; let index = index;" #accordionItem="cdkAccordionItem"
            class="example-accordion-item" role="button" tabindex="0" [attr.id]="'accordion-header-' + index"
            [attr.aria-expanded]="accordionItem.expanded" [attr.aria-controls]="'accordion-body-' + index">
            <div class="example-accordion-item-header" (click)="accordionItem.toggle()">
              {{ item }}
    
            </div>
            <div class="example-accordion-item-body" role="region" [style.display]="accordionItem.expanded ? '' : 'none'"
              [attr.id]="'accordion-body-' + index" [attr.aria-labelledby]="'accordion-header-' + index">
             
                <h2 class="xy" style="color: white" (click)="ListcityComponent()">City Model</h2>
              
              
                <h2 style="color: white" (click)="ListpincodeComponenet()">PinCode Model</h2>
              
            </div>
          </cdk-accordion-item>
        </cdk-accordion>
      </div>
      </div>
    </div>
    <div id="content">
</div>
    <div id="content1"> </div>
    <div id="content2"> <a routerLink="/dashboard">
      <section>
        <button id="btns" mat-raised-button color="primary">
          Back
        </button>
      </section>
    </a></div>
    <main style="height: 100px;"><table class="grid-table">
        
      <tr class="tr">
        <label class="lbl">State : </label>
        <select [(ngModel)]="stateId" value="stateid" class="selectbox"
            (ngModelChange)="onCity(stateId)">
            <option *ngFor="let state of allState" [value]="state.stateid">
                {{state.statename}}
            </option>
        </select>
        <br>
    
        <option value=""></option>
                                        
                                        <label class="lbl1">Add city: </label>
                                        <select [(ngModel)]="cityId" value="cityid" class="selectbox1" (ngModelChange)="onCityId(cityId)">
                                            <option *ngFor="let city of allcity" [value]="city.cityid">
                                                {{city.cityname}}
                                            </option>
                                        </select>
        <br>
        <br>

        <label class="lbl2">Pincode:</label>
         <input [(ngModel)]="PincodeNumber" type="text"  >
         <br>
         <br>
         <br>
        <section>
          <button id="bt1" mat-raised-button color="primary" (click)="onSubmit()">
            Submit
          </button>
        </section>
<!--        
        <td class="grid-items item2">
            <table class="grid-table-inner">
                <tr style="height: 60px;">
                    <th class="grid-item-inner inner1">Block Name</th>
                    <th class="grid-item-inner inner2">BlockId</th>
                    <th class="grid-item-inner inner1">Society Name</th>
                    <th class="grid-item-inner inner1">City</th>
                    <th class="grid-item-inner inner2">State</th>
                    <th class="grid-item-inner inner2">Pin Code</th>
                    -->
                </tr>
               
                <!-- <tr  *ngFor="let block of blockData | filter : searchText | paginate : { itemsPerPage: 5, currentPage: pages }">
  
                  
                  <td style="height: 100px;" (click)="FlatsClick(block.blockid)">
                    {{ block.blockname }}
                  </td>
  
                  <td style="height: 80px;">
                    {{ block.blockid}}
                  </td>
                  <td style="height: 80px;">
                    {{ block.searchSociety.societyname}}
  
                  </td>
                  <td style="height: 80px;">

                    {{ block.searchSociety.pincodeModel.cityEntity.cityname}}
  
                  </td>
                  <td style="height: 80px;">

                    {{ block.searchSociety.pincodeModel.cityEntity.stateEntity.statename}}
  
                  </td >
                  <td style="height: 80px;">
                    {{ block.searchSociety.pincodeModel.pincodeNumber}}
  
                  </td>
                 
                   <td><button  id="btns2" mat-raised-button color="primary"> Bank Details</button></td> -->
              <!-- </tr> -->
            <!-- </table> -->
        <!-- </td> -->
      
      <!-- </tr> -->
    </table>
    </main>
    <div id="footer"> </div>
  </div>
  