<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
<div class="navbar-top">
  <div class="title">
    <h1 id="Profile">Security Guard Profile</h1>
  </div>
</div>
<div class="w3-container">
  <div class="w3-card-4" style="width: 100%; margin-top: 25px">
    <header class="w3-container">
      <h1 class="x">Security Bank Details</h1>
      <!-- <button style="padding-bottom: 10px" mat-fab color="white">
        Add Bank
      </button> -->
    </header>

    <div class="w3-container">
      <div class="grid-container">
        <div class="grid-item">
      
        <tr>
          <td><div class="grid-item"><b>Bank Name: </b></div></td>
          <td>{{ WorkkerId?.bankName }}</td>
        </tr></div>
        <div class="grid-item">
        <tr>
          <td><div class="grid-item"><b>Bank Account Name:</b></div></td>
          <td>
            {{ WorkkerId?.bankAccountName }}</td>
        </tr></div>
        <div class="grid-item">
        <tr>
          <td><div class="grid-item"><b>Bank Account Number:</b></div></td>
          <td>
          
            {{ WorkkerId?.bankAccountNumber }}
          </td>
        </tr></div>
        <div class="grid-item">
        <tr>
          <td><div class="grid-item"><b>IFSCCode :</b></div></td>
          <td>
            {{ WorkkerId?.iFSCCode }}</td>
        </tr></div>
        <div class="grid-item">
        <tr>
          
          <td><div class="grid-item"><b>BankBranch :</b></div></td>
          <td>
            {{ WorkkerId?.bankAccountName }}</td>
        </tr>
      </div>
    </div>
  </div>
</div>
<div class="w3-container">
  <div class="w3-card-4" style="width: 100%; margin-top: 25px">
    <header class="w3-container">
      <h1 class="x">Security Details</h1>
    </header>

    <div class="w3-container">
      <div class="grid-container">
        <div class="grid-item">
          <td><b>Name: </b>{{ WorkkerId?.fullName }}</td>
        </div>

        <div class="grid-item">
          <td><b>Number : </b>{{ WorkkerId?.mobile }}</td>
        </div>
        <div class="grid-item">
          <td><b>Hospital Name : </b>{{ WorkkerId?.hospitalName }}</td>
        </div>
        
        <div class="grid-item">
          <td>
            <b>Email Address : </b>{{ WorkkerId?.email }}
          </td>
        </div>
        <div class="grid-item">
          <td>
            <b>Address : </b>{{ WorkkerId?.address }}
          </td>
        </div>
        <div class="grid-item">
          <td><b> Hospital Number : </b>{{ WorkkerId?.hospitalNumber }}</td>
        </div>
        <div class="grid-item">
          <td><b>PF Number: </b>{{ WorkkerId?.pfNumber }}</td>
        </div>
        <div class="grid-item">
          <td><b>Blood Group : </b>{{ WorkkerId?.bloodGroup }}</td>
        </div>
        <div class="grid-item">
          <td><b>CreatedDateTime : </b>{{ WorkkerId?.createdDateTime }}</td>
        </div>
        <div class="grid-item">
          <td><b>ESI Number : </b>{{ WorkkerId?.esiNumbers }}</td>
        </div>
        
        
      </div>
    </div>
  </div>
</div>

<div class="w3-card-4" style="width: 100%; margin-top: 25px">
  <header class="w3-container">
    <h1 class="x">Emergency Contact</h1>
  </header>
  <div class="w3-container">
    <div class="grid-container">
      <div class="grid-item">
        <td>
          <b
            >Emergency Contact Name  </b
          >{{ WorkkerId?.emergencyContactName }}
        </td>
      </div>
      <div class="grid-item">
        <td>
          <b
            >Emergenc yContact Number :  </b
          >{{ WorkkerId?.emergencyContactNumber }}
        </td>
      </div>
      <div class="grid-item">
        <td>
          <b
            >Relationship: 
        </b>{{ WorkkerId?.relationshipStatus }}
        </td>
      </div>
    </div>
  </div>
</div>

