<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
<div class="navbar-top">
  <div class="title">
    <h1 id="Profile">Security Guard Profile</h1>
  </div>
</div>
<div class="w3-container">
  <div class="w3-card-4" style="width: 100%; margin-top: 25px">
    <header class="w3-container">
      <h1 class="x">Security Bank Details</h1>
      <!-- <button style="padding-bottom: 10px" mat-fab color="white">
        Add Bank
      </button> -->
    </header>

    <div class="w3-container">
      <div class="grid-container">
        <div class="grid-item">
      
        <tr>
          <td><div class="grid-item"><b>Bank Name: </b></div></td>
          <td>{{ WorkkerId?.bankName }}</td>
        </tr></div>
        <div class="grid-item">
        <tr>
          <td><div class="grid-item"><b>Bank Account Name:</b></div></td>
          <td>
            {{ WorkkerId?.bankAccountName }}</td>
        </tr></div>
        <div class="grid-item">
        <tr>
          <td><div class="grid-item"><b>Bank Account Number:</b></div></td>
          <td>
          
            {{ WorkkerId?.bankAccountNumber }}
          </td>
        </tr></div>
        <div class="grid-item">
        <tr>
          <td><div class="grid-item"><b>IFSCCode :</b></div></td>
          <td>
            {{ WorkkerId?.iFSCCode }}</td>
        </tr></div>
        <div class="grid-item">
        <tr>
          
          <td><div class="grid-item"><b>BankBranch :</b></div></td>
          <td>
            {{ WorkkerId?.bankAccountName }}</td>
        </tr>
      </div>
    </div>
  </div>
</div>
<div class="w3-container">
  <div class="w3-card-4" style="width: 100%; margin-top: 25px">
    <header class="w3-container">
      <h1 class="x">Security Details</h1>
    </header>

    <div class="w3-container">
      <div class="grid-container">
        <div class="grid-item">
          <td><b>Name: </b>{{ WorkkerId?.workerName }}</td>
        </div>

        <div class="grid-item">
          <td><b>Number : </b>{{ WorkkerId?.mobileNumber }}</td>
        </div>
        <div class="grid-item">
          <td><b>Rating : </b>{{ WorkkerId?.ratings }}</td>
        </div>
        <div class="grid-item">
          <td>
            <b>Total Working House : </b>{{ WorkkerId?.total_working_house }}
          </td>
        </div>
        <div class="grid-item">
          <td><b> Status : </b>{{ WorkkerId?.status }}</td>
        </div>
        <div class="grid-item">
          <td><b>AvailableTime : </b>{{ WorkkerId?.availableTime }}</td>
        </div>

        <div class="grid-item">
          <td><b>CreatedDateTime : </b>{{ WorkkerId?.createdDateTime }}</td>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="w3-card-4" style="width: 100%; margin-top: 25px">
  <header class="w3-container">
    <h1 class="x">Emergency Contact</h1>
  </header>
  <div class="w3-container">
    <div class="grid-container">
      <div class="grid-item">
        <td>
          <b
            >Emergency Contact Name  </b
          >{{ WorkkerId?.contactName }}
        </td>
      </div>
      <div class="grid-item">
        <td>
          <b
            >EmergencyContactNumber :  </b
          >{{ WorkkerId?.emergencyContactNumber }}
        </td>
      </div>
      <div class="grid-item">
        <td>
          <b
            >RelationshipStatus : 
        </b>{{ WorkkerId?.relationshipStatus }}
        </td>
      </div>
    </div>
  </div>
</div>

