<div class="container">
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
  />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
  />
  <nav class="head">Tickets</nav>

  <div id="sidebar">
    <div class="grid-container">
      <div class="grid-item">
        <img src="assets/img/fixxup_logo_final.jpg" class="pro-img" />
      </div>
      <div class="grid-item">
        <h4 class="h" (click)="DashboardComponent()">
          <i
            class="fa fa-home"
            style="font-size: 18px; color: #031b7b; margin-right: 10px"
          ></i>
          Dashboard
        </h4>
      </div>
      <div class="grid-item">
        <h4 class="h" (click)="SocietyComponent()">
          <i
            class="fa-solid fa-building"
            style="font-size: 16px; margin-right: 12px; color: #031b7b"
          ></i>
          Society
        </h4>
      </div>
      <div class="grid-item">
        <h4 class="h" (click)="Transactionhitoryomponent()">
          <i
            class="fa-solid fa-landmark"
            style="font-size: 14px; margin-right: 10px; color: #031b7b"
          ></i>
          Transaction History
        </h4>
      </div>
      <div class="grid-item">
        <h4 class="h" (click)="TicketsComponenets()">
          <i
            class="fa fa-ticket"
            style="font-size: 18px; margin-right: 10px; color: #031b7b"
          ></i
          >Tickets
        </h4>
      </div>

      <cdk-accordion class="example-accordion">
        <cdk-accordion-item
          style="font-size: 16px; text-align: left"
          *ngFor="let item of itemss; let index = index"
          #accordionItem="cdkAccordionItem"
          class="example-accordion-item"
          role="button"
          tabindex="0"
          [attr.id]="'accordion-header-' + index"
          [attr.aria-expanded]="accordionItem.expanded"
          [attr.aria-controls]="'accordion-body-' + index"
        >
          <div
            class="example-accordion-item-header"
            (click)="accordionItem.toggle()"
          >
            <i
              class="far fa-address-card"
              style="font-size: 16px; margin-right: 12px; color: #031b7b"
            ></i>
            {{ item }}
            <i
              class="fas fa-angle-down"
              style="font-size: 18px; margin-left: 30px"
            ></i>
          </div>
          <div
            class="example-accordion-item-body"
            role="region"
            [style.display]="accordionItem.expanded ? '' : 'none'"
            [attr.id]="'accordion-body-' + index"
            [attr.aria-labelledby]="'accordion-header-' + index"
          >
            <h4 class="x1" (click)="ManagerComponents()">
              <i
                class="fas fa-user-tie"
                style="font-size: 16px; margin-right: 10px; color: #031b7b"
              ></i>
              Society Managers
            </h4>

            <h4 class="x2" (click)="UsermanagementComponent()">
              <i
                class="fa fa-user"
                aria-hidden="true"
                style="font-size: 16px; margin-right: 16px; color: #031b7b"
              ></i
              >Users
            </h4>
          </div>
        </cdk-accordion-item>
      </cdk-accordion>
      <cdk-accordion class="example-accordion">
        <cdk-accordion-item
          style="font-size: 16px"
          *ngFor="let item of items; let index = index"
          #accordionItem="cdkAccordionItem"
          class="example-accordion-item"
          role="button"
          tabindex="0"
          [attr.id]="'accordion-header-' + index"
          [attr.aria-expanded]="accordionItem.expanded"
          [attr.aria-controls]="'accordion-body-' + index"
        >
          <div
            class="example-accordion-item-header"
            (click)="accordionItem.toggle()"
          >
            <i
              class="fas fa-user-plus"
              style="font-size: 16px; margin-right: 10px; color: #031b7b"
            ></i>
            {{ item }}
            <i
              class="fas fa-angle-down"
              style="font-size: 18px; margin-left: 68px"
            ></i>
          </div>
          <div
            class="example-accordion-item-body"
            role="region"
            [style.display]="accordionItem.expanded ? '' : 'none'"
            [attr.id]="'accordion-body-' + index"
            [attr.aria-labelledby]="'accordion-header-' + index"
          >
            <h4 class="x3" style="color: black" (click)="ListcityComponent()">
              <i
                class="fas fa-city"
                style="font-size: 16px; margin-right: 10px; color: #031b7b"
              ></i
              >City
            </h4>

            <h4 class="x4" (click)="ListpincodeComponenet()">
              <i
                class="fa-sharp fa-solid fa-location-pin"
                style="font-size: 16px; margin-right: 10px; color: #031b7b"
              ></i
              >PinCode
            </h4>

            <h4 class="x5" (click)="ListstateComponent()">
              <i
                class="fas fa-bookmark"
                style="font-size: 16px; margin-right: 10px; color: #031b7b"
              ></i
              >Statey
            </h4>

            <h4 class="x6" (click)="RolelistComponent()">
              <i
                class="fas fa-portrait"
                style="font-size: 16px; margin-right: 10px; color: #031b7b"
              ></i>
              Role
            </h4>
            <h4 class="x6" (click)="VisitorCategoryComponent()">
              <i
                class="fas fa-archway"
                style="font-size: 16px; margin-right: 10px; color: #031b7b"
              ></i>
              Visitors
            </h4>
            <h4 class="x6" (click)="ComplaintCategory()">
              <i
                class="fas fa-hand-paper"
                style="font-size: 16px; margin-right: 10px; color: #031b7b"
              ></i>
              Complaints
            </h4>
            <h4 class="x6" (click)="DaikyHelp()">
              <i
                class="fas fa-people-carry"
                style="font-size: 16px; margin-right: 10px; color: #031b7b"
              ></i>
              Daily Helper
            </h4>
          </div>
        </cdk-accordion-item>
      </cdk-accordion>
      <cdk-accordion class="example-accordion">
        <cdk-accordion-item
          style="text-align: start"
          *ngFor="let item of items1; let index = index"
          #accordionItem="cdkAccordionItem"
          class="example-accordion-item"
          role="button"
          tabindex="0"
          [attr.id]="'accordion-header-' + index"
          [attr.aria-expanded]="accordionItem.expanded"
          [attr.aria-controls]="'accordion-body-' + index"
        >
          <div
            class="example-accordion-item-header"
            (click)="accordionItem.toggle()"
          >
            <i
              class="fa-solid fa-city"
              style="font-size: 16px; margin-right: 10px; color: #031b7b"
            ></i>
            {{ item }}
            <i
              class="fas fa-angle-down"
              style="font-size: 18px; margin-left: 10px"
            ></i>
          </div>
          <div
            class="example-accordion-item-body"
            role="region"
            [style.display]="accordionItem.expanded ? '' : 'none'"
            [attr.id]="'accordion-body-' + index"
            [attr.aria-labelledby]="'accordion-header-' + index"
          >
            <h4 class="x7" (click)="SocietyBasedVisitorsComponent()">
              <i
                class="fas fa-users"
                style="font-size: 16px; margin-right: 10px; color: #031b7b"
              ></i>
              Society Visitors
            </h4>

            <h4 class="x7" (click)="SocietyDailyWorkersComponent()">
              <i
                class="fa-solid fa-users-gear"
                style="font-size: 16px; margin-right: 10px; color: #031b7b"
              ></i>
              Daily Workers
            </h4>

            <h4 class="x7" (click)="SocietyTicketWorkersComponent()">
              <i
                class="fas fa-user-tag"
                style="font-size: 16px; margin-right: 10px; color: #031b7b"
              ></i>
              Society Assist
            </h4>

            <h4 class="x7" (click)="SocietyEmergencyContactComponent()">
              <i
                class="fas fa-phone-alt"
                style="font-size: 16px; margin-right: 10px; color: #031b7b"
              ></i>
              Emergency Contact
            </h4>

            <h4 class="x7" (click)="SocietySecurityGuardComponent()">
              <i
                class="fas fa-user-secret"
                style="font-size: 16px; margin-right: 9px; color: #031b7b"
              ></i>
              Society Security Guard
            </h4>
            <h4 class="x7" (click)="SocietyPromotion()">
              <i
                class="fas fa-images"
                style="font-size: 16px; margin-right: 10px; color: #031b7b"
              ></i>
              Society Promotions
            </h4>
            <h4 class="x7" (click)="DueAmount()">
              <i
                class="fa fa-money"
                style="font-size: 18px; margin-right: 10px; color: #031b7b"
              ></i>
              Maintenance Due
            </h4>
          </div>
        </cdk-accordion-item>
      </cdk-accordion>
    </div>
  </div>
  <div id="content">
    <button
      id="export"
      mat-raised-button
      color="primary"
      matTooltip="Click For Export Excel "
      aria-label="Button that displays a tooltip when focused or hovered over"
      (click)="addCharges()"
    >
      Add Charges
    </button>
  </div>
  <div id="content1">
    <div class="search-hero">
      <input
        matTooltip="Search "
        aria-label="Button that displays a tooltip when focused or hovered over"
        class="form-control"
        type="text"
        name="search"
        [(ngModel)]="searchText"
        autocomplete="on"
        placeholder="Search here.."
      />
    </div>
  </div>
  <div id="content2">
    <section>
      <button
        id="btns"
        mat-raised-button
        color="primary"
        (click)="Transactionhitoryomponent()"
      >
        Back
      </button>
    </section>
  </div>
  <main style="height: 40px">
    <table class="grid-table">
      <tr>
        <td class="grid-items item2">
          <table id="season-tble" class="grid-table-inner">
            <tr style="height: 40px">
              <th class="grid-item-inner inner1" class="sn">S.No</th>
              <th class="grid-item-inner inner1" class="sn">Society</th>
              <th class="grid-item-inner inner2" class="sn">
                Green Page Amount
              </th>
              <th class="grid-item-inner inner4" class="s">Sgst Percentage</th>
              <th class="grid-item-inner inner4" class="s">Cgst Percentage</th>
              <th class="grid-item-inner inner8" class="s">Other Charge</th>

              <th class="grid-item-inner inner7" class="sn">
                Created Date&Time
              </th>
              <th class="grid-item-inner inner7" class="s">Modified By</th>
              <th class="grid-item-inner inner7" class="s">Action</th>
            </tr>

            <tr
              *ngFor="
                let tickets of allTickets
                  | filter : searchText
                  | paginate : { itemsPerPage: 10, currentPage: pages };
                let i = index
              "
            >
              <td align="left" class="v-align-middlle" class="sn1">
                {{ i + 1 }}
              </td>
              <td>
                {{ tickets.societyId.societyname }}
              </td>

              <td class="sn3">{{ tickets.greenPageAmount }}</td>
              <td class="sn2">{{ tickets.sgstPercentage }}</td>
              <td class="sn2">{{ tickets.igstPercentage }}</td>
              <td class="sn2">
                {{ tickets.otherCharge }}
              </td>
              <td class="sn3">{{ tickets.createdBy }}</td>
              <td class="sn2">{{ tickets.createdDateTime }}</td>

              <td>
                {{ tickets.modifiedBy }}
              </td>

              <td class="sn3">
                <button>
                  <i
                    (click)="DeleteCharges(tickets.chargesId)"
                    class="fa-solid fa-trash-arrow-up"
                    style="color: red; margin-right: 15px"
                  ></i>
                  <i
                    (click)="editCharges(tickets.chargesId)"
                    class="fa fa-edit"
                  ></i>
                </button>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </main>
  <div id="footer">
    <div class="pg">
      <pagination-controls (pageChange)="pages = $event"></pagination-controls>
    </div>
  </div>
</div>
