<script
  src="https://kit.fontawesome.com/a076d05399.js"
  crossorigin="anonymous"
></script>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
<div class="navbar-top">
  <div class="title">
    <h2 id="Profile">Manager Profile</h2>
  </div>
</div>
<div>
  <section style="text-align: start; margin-top: 1%">
    <button
      (click)="addBank(ManagerId.societyManagerId)"
      mat-raised-button
      color="primary"
      style="background-color: #031b7b; text-align: start"
    >
      <i style="color: white" class="fas fa-landmark"></i>
      Add Bank
    </button>
  </section>
  <section style="text-align: end; margin-top: -1.8%">
    <button
      id="btns"
      (click)="ManagersComponents()"
      mat-raised-button
      color="primary"
      style="background-color: #031b7b; text-align: end"
    >
      Back
    </button>
  </section>
</div>
<div class="w3-container">
  <div class="w3-card-4" style="width: 100%; margin-top: 20px">
    <header
      class="w3-container"
      style="background-color: #031b7b; color: white"
    >
      <h2 class="x">Bank Details</h2>
    </header>

    <div class="w3-container">
      <div class="grid-container">
        <div class="grid-item">
          <table>
            <tr
              *ngFor="
                let bank of banking
                  | paginate : { itemsPerPage: 5, currentPage: pages }
              "
            >
              <td>
                <div class="grid-item"><b>BankName</b></div>
              </td>
              <td>{{ bank?.bankName }}</td>
              <td>
                <div class="grid-item"><b>Account Holder Name</b></div>
              </td>
              <td>{{ bank?.bankAccountName }}</td>
              <td>
                <div class="grid-item"><b>Bank Account Number</b></div>
              </td>
              <td>{{ bank?.bankAccountNumber }}</td>
              <td>
                <div class="grid-item"><b>IFSC Code</b></div>
              </td>
              <td>{{ bank?.iFSCCode }}</td>
              <td>
                <div class="grid-item"><b>Bank Branch</b></div>
              </td>
              <td>{{ bank?.bankBranch }}</td>
              <td>
                <div class="grid-item"><b>primaryAccount:</b></div>
              </td>
              <td
                [ngClass]="{
                  Active: bank?.primaryAccountStatus === 1,
                  InActive: bank?.primaryAccountStatus === 0
                }"
              >
                {{ bank?.primaryAccountStatus == 1 ? "Active" : "InActive" }}
              </td>

              <br />
              <div class="grid-item"><b>Status</b></div>

              <td class="sn3">
                <ui-switch
                  size="small"
                  [checked]="bank.bankStatus==1"
                  (change)="onSubmit($event, bank.managerBankId)"
                ></ui-switch>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div style="text-align: end">
      <pagination-controls (pageChange)="pages = $event"></pagination-controls>
    </div>
  </div>

  <div class="w3-container">
    <div class="w3-card-4" style="margin-top: 20px">
      <header
        class="w3-container"
        style="background-color: #031b7b; color: white"
      >
        <h2 class="x">Managers Details</h2>
      </header>

      <div class="w3-container">
        <div class="grid-container">
          <div class="grid-item">
            <td>
              <div class="grid-item"><b>Profile Id: </b></div>
            </td>
            <td>{{ ManagerId.fullName }}</td>
          </div>

          <div class="grid-item">
            <td>
              <div class="grid-item"><b>Email : </b></div>
            </td>
            <td>{{ ManagerId.email }}</td>
          </div>
          <div class="grid-item">
            <td>
              <div class="grid-item"><b>Mobile : </b></div>
            </td>
            <td>{{ ManagerId.mobile }}</td>
          </div>
          <div class="grid-item">
            <td>
              <div class="grid-item"><b>Address : </b></div>
            </td>
            <td>{{ ManagerId.address }}</td>
          </div>
          <div class="grid-item">
            <td>
              <div class="grid-item"><b> OTP Verification : </b></div>
            </td>
            <td>{{ ManagerId.otpVerificationStatus ==1? 'Verified' :  'Not Vetrified' }}</td>
          </div>
          <div class="grid-item">
            <td>
              <div class="grid-item"><b>RoleName : </b></div>
            </td>
            <td>{{ ManagerId.roleId.rolename }}</td>
          </div>
          <div class="grid-item">
            <td>
              <div class="grid-item"><b>CreatedBy : </b></div>
            </td>
            <td>{{ ManagerId.roleId.createdBy }}</td>
          </div>
          <div class="grid-item">
            <td>
              <div class="grid-item">
                <b
                  >CreatedDateTime : <br />
                  <br />
                </b>
              </div>
            </td>
            <td>{{ ManagerId.roleId.createdDateTime }}</td>
          </div>
          <div class="grid-item">
            <td>
              <div class="grid-item"><b>SocietyName : </b></div>
            </td>
            <td>{{ ManagerId.searchSociety.societyname }}</td>
          </div>
          <div class="grid-item">
            <td>
              <div class="grid-item"><b>Pincode : </b></div>
            </td>
            <td>{{ ManagerId.searchSociety.pincodeModel.pincodeNumber }}</td>
          </div>

          <div class="grid-item">
            <td>
              <div class="grid-item"><b>City : </b></div>
            </td>
            <td>
              {{ ManagerId.searchSociety.pincodeModel.cityEntity.cityname }}
            </td>
          </div>
          <div class="grid-item">
            <td>
              <div class="grid-item"><b>State : </b></div>
            </td>
            <td>
              {{
                ManagerId.searchSociety.pincodeModel.cityEntity.stateEntity
                  .statename
              }}
            </td>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
