/* .img{
  position: fixed;
  padding: 40px;
    margin: 150px;
   
}
.container{
    display: grid;
    height: 100vh;
    grid-gap:0.2rem;
     font-family: Arial, Helvetica, sans-serif;
    
     text-transform: none;
     font-size: 14px;
      color: black;
     text-align: center;
 

   }
   .grid-container {
    display: grid;
    grid-template-columns: auto;
    gap: 0px;
    background-color: #EEEDE7;
    padding: 1px;
  }
  
.grid-item {
    text-align: center;
    padding: 5px 3px 2px 10px;
    font-size: 20px;
    padding: 200px;
    
  } */