
<!-- <div class="container">
  
  <div class="grid-container">
 
      <div class="grid-item">
        <h1 style="background-color: blue;"> Uload Logo</h1>
       <div style="align-items: center; margin-top: 10%;"> <input
        class="text3"
        #imageInput
        type="file"
        accept="image/*"
        (change)="processFile(imageInput)"
      />
    </div>
  </div>
  </div>
</div>
 -->


<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
<div class="navbar-tops">
  <div class="title">
   
  </div>
</div>
<div class="w3-container">
  <div class="w3-card-4" >
    <header class="w3-container w3-blue">
    
       
    
    </header>

    <div class="w3-container">
      <table style="font-size: 16px">
        <tbody>
          <tr>
          
             
         
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="w3-container">
  <div class="w3-card-4">
    <header >
      <h4 style="background-color: #031B7B; color: white; padding: 10px;"><b>Upload Logo</b></h4>
    </header>

    <div class="w3-container" >
      <div class="grid-container" >
        
        <div class="grid-item" >
          <div></div>
          <input 
          class="text3"
          #imageInput
          type="file"
          accept="image/*"
          (change)="processFile(imageInput)"
        />
        </div>

        
       
       
         
        
      </div>
    </div>
  </div>
</div>
