<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
<div class="w3-card-4" style="width: 100%; margin-top: 50px">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
<link
rel="stylesheet"
href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css"
/>
<script
src="https://kit.fontawesome.com/a076d05399.js"
crossorigin="anonymous"
></script>
<link href="https://css.gg/edit-flip-h.css" rel="stylesheet" />
  <header class="w3-container w3-light-grey">
    <h1><b>KYC Details</b></h1>
  </header>

 
  <table>
    <tr>
      <th>cardNumber</th>
      <th>docType</th>
      <th>Driving Licence</th>
      <th>Document Type</th>
      <th>Status</th>
      <th>Approved By</th>
      <th>Approved Date & Time</th>
      <th>Created Date & Time</th>
      <th>Signzy Status</th>
      <th>File Type</th>
      <th>Front View</th>
      <th>Back View</th>
    </tr>

    <tr *ngFor="let kyc of viewKYc">
      <td>{{ kyc?.cardNumber }}</td>
      <td>{{ kyc?.docType }}</td>
      <td>{{ kyc?.drivingLicenseNo }}</td>
      <td>{{ kyc?.docType }}</td>
      <td>{{ kyc?.status }}</td>
      <td>{{ kyc?.approvalBy }}</td>
      <td>{{ kyc?.approvalDatetime }}</td>
      <td>{{ kyc?.createdDatetime }}</td>
      <td>{{ kyc?.signzyStatus }}</td>
      <td>{{ kyc?.fileType }}</td>
      <td>
      <span  [routerLink]="['/view-workers-kyc', kyc?.dailHelpKycDocumentId, 1]" id="boot-icon" class="bi bi-eye-fill"></span>
        
      </td>
      <td>
        <span  [routerLink]="['/view-workers-kyc', kyc?.dailHelpKycDocumentId, 2]" id="boot-icon" class="bi bi-eye-fill"></span>
   </tr>
  </table>
</div>
