<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
<div class="navbar-top">
  <div class="title">
    <h1 id="Profile">Worker Profile</h1>
  </div>
</div>
<div class="w3-container">
  <div class="w3-card-4" style="width: 100%; margin-top: 25px">
    <header class="w3-container">
      <h1 class="x">Worker Bank Details</h1>
      <!-- <button style="padding-bottom: 10px" mat-fab color="white">
        Add Bank
      </button> -->
    </header>

    <div class="w3-container">
      <div class="grid-container">
       
        <div class="grid-item">
          <tr>
            <td>
              <div class="grid-item">
               
                <tr *ngFor="let bank of banking">
                  <b>Bank Account Name:</b> <td>{{ bank?.bankName }}</td>
                </tr>
              </div>
            </td>
            <td>{{ WorkkerId?.bankAccountName }}</td>
          </tr>
        </div>
        <div class="grid-item">
          <tr>
            <td>
              <div class="grid-item">
              
                <tr *ngFor="let bank of banking">
                  <b>Bank Account Number :</b> <td>{{ bank?.bankAccountNumber }}</td>
                </tr>
              </div>
            </td>
            <td>{{ WorkkerId?.bankAccountNumber }}</td>
          </tr>
        </div>

        <div class="grid-item">
          <tr>
            <td>
              <div class="grid-item">
               
                <tr *ngFor="let bank of banking">
                  <b>IFSCCode : </b>  <td>{{ bank?.iFSCCode }}</td>
                </tr>
              </div>
            </td>
            <td>{{ WorkkerId?.iFSCCode }}</td>
          </tr>
        </div>
        <div class="grid-item">
          <tr>
            <td>
              <div class="grid-item">
              
                <tr *ngFor="let bank of banking">
                  <b>BankBranch : </b> <td>{{ bank?.bankBranch }}</td>
                </tr>
              </div>
            </td>
            <td>{{ WorkkerId?.bankAccountName }}</td>
          </tr>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="w3-container">
  <div class="w3-card-4" style="width: 100%; margin-top: 25px">
    <header class="w3-container">
      <h1 class="x">Worker Details</h1>
    </header>

    <div class="w3-container">
      <div class="grid-container">
        <div class="grid-item">
          <td>
            <div class="grid-item">
            
              <tr *ngFor="let work of WorkkerId">
                <b>Name: </b>  <td>{{ work?.workerName }}</td>
              </tr>
            </div>
          </td>
        </div>

        <div class="grid-item">
          <td>
            <div class="grid-item">
            
              <tr *ngFor="let work of WorkkerId">
                <b>Number : </b>     <td>{{ work?.mobileNumber }}</td>
              </tr>
            </div>
          </td>
          <td>{{ WorkkerId?.mobileNumber }}</td>
        </div>
        <div class="grid-item">
          <td>
            <div class="grid-item">
           
              <tr *ngFor="let work of WorkkerId">
                <b>Rating : </b>  <td>{{ work?.ratings }}</td>
              </tr>
            </div>
          </td>
          <td>{{ WorkkerId?.ratings }}</td>
        </div>
        <div class="grid-item">
          <td>
            <div class="grid-item">
            
              <tr *ngFor="let work of WorkkerId">
                <b>Total Working House : </b>   <td>{{ work?.total_working_house }}</td>
              </tr>
            </div>
          </td>
          <td>{{ WorkkerId?.total_working_house }}</td>
        </div>
        <div class="grid-item">
          <td>
            <div class="grid-item">
            
              <tr *ngFor="let work of WorkkerId">
                <b> Status : </b> <td>{{ work?.status }}</td>
              </tr>
            </div>
          </td>
          <td>{{ WorkkerId?.status }}</td>
        </div>
        <div class="grid-item">
          <td>
            <div class="grid-item">
           
              <tr *ngFor="let work of WorkkerId">
                <b>AvailableTime : </b>    <td>{{ work?.availableTime }}</td>
              </tr>
            </div>
          </td>
          <td>{{ WorkkerId?.availableTime }}</td>
        </div>

        <div class="grid-item">
          <td>
            <div class="grid-item">
             
              <tr *ngFor="let work of WorkkerId">
                <b>CreatedDateTime : </b>  <td>{{ work?.createdDateTime }}</td>
              </tr>
            </div>
          </td>
          <td>{{ WorkkerId?.createdDateTime }}</td>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="w3-card-4" style="width: 100%; margin-top: 25px">
  <header class="w3-container">
    <h1 class="x">Emergency Contact</h1>
  </header>
  <div class="w3-container">
    <div class="grid-container">
      <div class="grid-item">
        <td>
          <div class="grid-item"><tr *ngFor="let work of WorkkerId">
            <b>Emergency Contact Name : </b>   {{ work?.contactName }}</div>
        </td>
        <td>{{ WorkkerId?.contactName }}</td>
      </div>
      <div class="grid-item">
        <td>
          <div class="grid-item"><tr *ngFor="let work of WorkkerId">
            <b>Emergency Contact Number : </b> {{ work?.emergencyContactNumber }}</div>
        </td>
        <td>{{ WorkkerId?.emergencyContactNumber }}</td>
      </div>
      <div class="grid-item">
        <td>
          <div class="grid-item"><tr *ngFor="let work of WorkkerId">
            <b>Relationship: </b>  {{ work?.relationshipStatus }}</div>
        </td>
        <td>{{ WorkkerId?.relationshipStatus }}</td>
      </div>
    </div>
  </div>
</div>
