<body>
  <div class="sidenav1">
    <!-- <img src="assets/img/logonew.jpg" class="pro-img" /> -->
    <a routerLink="/agnys"
      ><img src="assets/img/FIXXUP-logopreview.png" class="pro-img"
    /></a>
  </div>
  <link href="https://css.gg/close-o.css" rel="stylesheet" />
  <link href="https://css.gg/check-o.css" rel="stylesheet" />
  <link href="https://css.gg/lock-unlock.css" rel="stylesheet" />
  <!-- <link href='https://css.gg/open-collective.css' rel='stylesheet'> -->
  <link href="https://css.gg/radio-checked.css" rel="stylesheet" />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
  />
  <link href="https://css.gg/profile.css" rel="stylesheet" />
  <link href="https://css.gg/log-off.css" rel="stylesheet" />
  <link href="https://css.gg/password.css" rel="stylesheet" />

  <div class="sidenav">
    <a routerLink="/dashboard">
      <h2>Dashboard</h2>
    </a>
    <a routerLink="/society">
      <h2>Society</h2>
    </a>
    <a routerLink="/transactionhistory">
      <h2>Transaction Histotry</h2>
    </a>
\
    <a routerLink="/tickets">
      <h2>Tickets</h2>
    </a>

    <!-- <a routerLink="/usermanagement"><h2>User Management</h2></a> -->

    <div id="mysidenav">
      <cdk-accordion class="example-accordion">
        <cdk-accordion-item
          *ngFor="let item of itemss; let index = index"
          #accordionItem="cdkAccordionItem"
          class="example-accordion-item"
          role="button"
          tabindex="0"
          [attr.id]="'accordion-header-' + index"
          [attr.aria-expanded]="accordionItem.expanded"
          [attr.aria-controls]="'accordion-body-' + index"
        >
          <div
            class="example-accordion-item-header"
            (click)="accordionItem.toggle()"
          >
            {{ item }}
          </div>
          <div
            class="example-accordion-item-body"
            role="region"
            [style.display]="accordionItem.expanded ? '' : 'none'"
            [attr.id]="'accordion-body-' + index"
            [attr.aria-labelledby]="'accordion-header-' + index"
          >
            <a routerLink="/managers">
              <h2>Society Managers</h2>
            </a>
            <a routerLink="/usermanagement">
              <h2 class="x">Users</h2>
            </a>
          </div>
        </cdk-accordion-item>
      </cdk-accordion>
      <cdk-accordion class="example-accordion">
        <cdk-accordion-item
          *ngFor="let item of items; let index = index"
          #accordionItem="cdkAccordionItem"
          class="example-accordion-item"
          role="button"
          tabindex="0"
          [attr.id]="'accordion-header-' + index"
          [attr.aria-expanded]="accordionItem.expanded"
          [attr.aria-controls]="'accordion-body-' + index"
        >
          <div
            class="example-accordion-item-header"
            (click)="accordionItem.toggle()"
          >
            {{ item }}
          </div>
          <div
            class="example-accordion-item-body"
            role="region"
            [style.display]="accordionItem.expanded ? '' : 'none'"
            [attr.id]="'accordion-body-' + index"
            [attr.aria-labelledby]="'accordion-header-' + index"
          >
            <a routerLink="/listcity">
              <h2 class="xy">City Model</h2>
            </a>
            <a routerLink="/listpincode">
              <h2>PinCode Model</h2>
            </a>
            <a routerLink="/liststate" ><h2>State Model</h2>
            </a>
            <a  routerLink="/rolelist"><h2>Role Model</h2></a>

            <a  routerLink="/visitor-category"><h2>Visitors Model</h2></a>

            <a routerLink="/raised-Complaint"><h2>Complaints Model</h2> </a>

            <a routerLink="/daily-helper-category"><h2>DailyHelpers Model</h2> </a>
          </div>
        </cdk-accordion-item>
      </cdk-accordion>
      <a routerLink="/society-based-visitors"><h2>Society Visitiors</h2> </a>
      <a routerLink="/society-emergency-contact"><h2>Society Emergency Contact</h2> </a>
      <a routerLink="/society-daily-workers"><h2>Society Daily Workers</h2> </a>
      <a routerLink="/society-ticket-workers"><h2>Society Ticket Workers</h2> </a>
      <a routerLink="/society-security-guard"><h2>Society Security Guard</h2> </a>
      <a routerLink="/society-promotions"><h2>Society  Promotions</h2> </a>

 
     






    </div>


   
  </div>
  <div id="main">
    <div class="head">
      <div class="col-div-6">
        <span class="nav">Dashboard</span>

        <div class="dropdown">
          <button class="dropbtn" id="btns" class="fa">&#xf013; Setting</button>
          <div class="dropdown-content">
            <a (click)="openDialog()"
              ><i class="gg-profile"></i>
              <h4>Admin Profile</h4>
            </a>

           
              ><i class="gg-password"></i>
              <h4  (click)="adminnavigate()"> Change password</h4>
           

            <a (click)="logout()"
              ><i class="gg-log-off"></i>
              <h4>Logout</h4>
            </a>
          </div>
        </div>

      </div>
      <div class="clearfix"></div>
    </div>

    <div>
      <br />

      <label class="lab">State : </label>
      <select
        [(ngModel)]="stateId"
        value="stateid"
        class="text"
        (ngModelChange)="onCity(stateId)"
      >
        <option
          style="color: black"
          *ngFor="let state of allstate"
          [value]="state.stateid"
        >
          {{ state.statename }}
        </option>
      </select>

      <label class="lab1">City :</label>
      <select
        style="color: black"
        class="text1"
        [(ngModel)]="cityId"
        (ngModelChange)="onPincode(cityId)"
      >
        <ng-container *ngFor="let city of allcity">
          <option style="color: black" [value]="city.cityid">
            {{ city.cityname }}
          </option>
        </ng-container>
      </select>

      <label class="lab2">PinCode :</label>

      <select
        style="color: black"
        class="text2"
        [(ngModel)]="pinCodeId"
        value="pincodeId"
        (ngModelChange)="onPinCodeId(pinCodeId)"
      >
        <ng-container *ngFor="let pincode of allPinCode">
          <option style="color: black" [value]="pincode.pincodeId">
            {{ pincode.pincodeNumber }}
          </option>
        </ng-container>
      </select>

      <button (click)="onGo()" mat-raised-button color="primary">GO</button>
    </div>
    <div style="padding-top: 20px">
      <div class="col-div-3">
        <div class="box1">
          <div class="text">
            <strong>
              <span class="alloverfont">Society</span>
              <br />
              <br />

              <h2 class="sd">{{ AlldashboardData?.TotalSociety }}<br /></h2>
            </strong>
          </div>
        </div>
      </div>
      <div class="col-div-10">
        <div class="box2">
          <div class="text">
            <strong>
              <span class="alloverfont"><strong>Blocks</strong></span>
              <br />
              <br />
              <h2 class="alloverfont" class="sd">
                {{ AlldashboardData?.TotalBlocks }}<br />
              </h2>
            </strong>
          </div>
        </div>
      </div>

      <div class="alloverfont" class="col-div-11">
        <div class="box3">
          <div class="text">
            <strong>
              <span class="alloverfont"> <strong>Flats</strong> </span>
              <br />
              <br />
              <h2 class="sd">{{ AlldashboardData?.TotalFlats }}<br /></h2>
            </strong>
          </div>
        </div>
      </div>
      <div class="col-div-12">
        <div class="box8">
          <div class="text1">
            <strong>
              <span class="alloverfont">Success Transaction</span>
              <br />
              <br />
              <h2 class="sd1">
                <i id="cross" class="gg-check-o"></i>
                {{ AlldashboardData?.TodaySuccessTransactions }}<br />
              </h2>
            </strong>
          </div>
        </div>
      </div>
      <div class="col-div-13">
        <div class="box9">
          <div class="text2">
            <strong>
              <span class="alloverfont">Failed Transaction</span>
              <br />
              <br />
              <h2 class="sd2">
                <i id="cross" class="gg-close-o"></i>
                {{ AlldashboardData?.TodayFailureTransactions }}
                <br />
              </h2>
            </strong>
          </div>
        </div>
      </div>
      <div class="col-div-14">
        <div class="box10">
          <div class="text3">
            <Strong>
              <span class="alloverfont">Open Tickets</span>
              <h2 class="sd3">
                <i id="open" class="gg-open-collective"></i>
                {{ AlldashboardData?.OpenTickets }}
                <br />
              </h2>
            </Strong>
          </div>
        </div>
      </div>
      <div class="col-div-15">
        <div class="box11">
          <div class="text4">
            <strong>
              <span class="alloverfont">Closed Tickets</span>
              <br />
              <br />
              <h2 class="sd4">
                <i id="closed" class="gg-radio-checked"></i>
                {{ AlldashboardData?.ClosedTickets }}<br />
              </h2>
            </strong>
          </div>
        </div>
      </div>
    </div>

    <div nz-row>
      <div nz-col nzSpan="18">
        <div
          id="chart1"
          echarts
          [options]="options"
          theme="macarons"
          class="demo-chart"
        ></div>
      </div>
    </div>
    <br /><br />
    <br />
  </div>
</body>
