body {
  margin: auto;
  padding: 0px;
  background-color: #effcef8e;
  overflow: hidden;
  font-family: system-ui;
}
@import url('https://css.gg/close.css');
@import url('https://css.gg/lock-unlock.css');
@import url('https://css.gg/open-collective.css');
@import url('https://css.gg/radio-checked.css');
@import url('https://css.gg/log-off.css');
@import url('https://css.gg/password.css');

#cross
{
  display: inline-flex ;
 
}
#open{
  display: inline-flex;
 
  padding-top: 0px;
  color:greenyellow;

}
#closed{
  display: inline-flex;
 
  padding-top: 0px;
  color: #07f82fe3;}
.gg-check-o {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs,1));
  width: 22px;
  height: 22px;
  border: 2px solid;
  border-radius: 100px
}
.gg-check-o::after {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  left: 3px;
  top: -1px;
  width: 6px;
  height: 10px;
  border-color: currentColor;
  border-width: 0 2px 2px 0;
  border-style: solid;
  transform-origin: bottom left;
  transform: rotate(45deg)
}
.fas fa-ticket-alt{
  color: #29d412;
}
.nav{
  font-size: 30px; cursor: 
  pointer; color: rgba(243, 239, 248, 0.979);

}
.nav1{
  font-size: 30px;
   color:white;
  margin-right:10px;

}
.clearfix {
  clear: both;
}
.logo {
  margin: 0px;
  margin-left: 28px;
  font-weight: bold;
  color: rgb(76, 16, 216);
  margin-bottom: 30px;
}
.sidenav{
  height: 100%;
  width: 300px;
  position: fixed;
  z-index: 1;
  top: 70px;
  left: 0;
  background-color:#031a7d;
  overflow: hidden;
  transition: 0.5s;
  padding-top:0px;
  font-family: system-ui;
  font-weight: 400; 
}
#mysidenav{
  
  font:500 20px/32px Roboto, sans-serif;
  color: white;

}
.sidenav a {
  padding: 10px 8px 10px 32px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  display: block;
  
  font-family: system-ui;
  font-weight: 400; 
 
}
.sidenav a:hover {
  color: #f1f1f1;
  background-color:#5f80e5;
}


.sidenav1 {
  position: fixed;
  top:0px;
  left:10px;
  font-family: system-ui;
  font-weight: 400; 
 
}
#main {
  transition: margin-left 0.5s;
  padding: 0px;
  margin-left: 300px;
}
.head {
  padding: 20px;
  background-color: white;
  margin-top: 0%;
  margin-left:auto;
  margin-right: 5px;
}
.col-div-6 {
  width: 100%;
  float: left;
}

.nav{
  font-size: 40px;
   cursor: pointer;
  color:#021B79;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 10px;
  padding-left: 600px;
}
.pro-img {
  float: left;
  width: 150px;
  margin-top: 0px;
  margin-left: 20px;

}
.pro-img1 {
  float: left;
  width: 230px;
  height: 70px;
  margin-top: 0px;
  margin-left: 0px;

}
.profile p {
  color: white;
  font-weight: 500;
  margin-left: 55px;
  margin-top: 10px;
  font-size: 13.5px;
}
.profile p span {
  font-weight: 400;
  font-size: 12px;
  display: block;
  color: #8e8b8b;
}
.col-div-3 {
  width: 14%;
  float: left;
 
}
.box1 {
  width: 90%;
  height: 100px;
  margin-left: 10px;
  padding: 5px;
  text-align: center;
  font-family: system-ui;
  font-weight: 900; 
  border-radius: 20px;
  color:#031a7d;
  background-color:#5f80e5;
 
}
.text{
  margin-top: 15px;
  color:#031a7d;
}
.col-div-10 {
  width: 14%;
  float: left;
}
.box2 {
  width: 90%;
  height: 100px;
  color:#ddd;
  background-color:#5f80e5;
  margin-left: 10px;
  padding: 5px;
  text-align: center;
  border-radius: 25px;
  font-family: system-ui;
  font-weight: 900; 
  


}
.col-div-11 {
  width: 14%;
  float: left;
}
.box3 {
  width: 90%;
  height: 100px;
  color:#ddd;
  background-color:#5f80e5;
  margin-left:10px;
  padding: 5px;
  text-align: center;
  border-radius: 25px;
  font-family: system-ui;
  font-weight: 900; 
  


}
.col-div-12 {
  width: 14%;
  float: left;
}
.box8 {
  width: 90%;
  height: 100px;
  color:#ddd;
  background-color:#5f80e5;
  margin-left: 10px;
  padding: 5px;
  text-align: center;
  border-radius: 25px;
  font-family: system-ui;
  font-weight: 900;   


}
.col-div-13 {
  width: 14%;
  float: left;
}
.box9 {
  width: 90%;
  height: 100px;
  color:#ddd;
  background-color:#5f80e5;
  margin-left: 10px;
  padding: 5px;
  text-align: center;
  border-radius: 25px;
  font-family: system-ui;
  font-weight: 900; 

}
.sd{
  font-size:xx-large;
}


.sd1{
  font-size:30px;
  color: #07f82fe3;
}                                           
.text1{
  margin-top: 15px;
  color:#031a7d;
  
}

.sd2{
  font-size:xx-large;
  color: rgb(226, 17, 17);
}
.text2{
  margin-top: 15px;
  color:#031a7d;
}

.sd3{
  font-size:xx-large;
  color:#031a7d;

  margin-top: 22px;
}
.text3{
  margin-top: 15px;
  color:#031a7d;
}


.sd4{
  font-size:xx-large;
  color:#031a7d;
}
.text4{
  margin-top: 15px;
  color:#031a7d;
}

.gg-log-off{
  margin-left: 5px;
  color: red;
}
.gg-password{
  color: rgb(14, 233, 14);
  
}
.gg-profile{
  color: #29d412;
}
.icon{
  padding:10px;
  min-width: 40px
}
.col-div-14{
  width: 14%;
  float: left;
}
.box10 {
  width: 90%;
  height: 100px;
  color:#ddd;
  background-color:#5f80e5;
  margin-left:10px;
  padding: 5px;
  text-align: center;
  border-radius: 25px;
  font-family: system-ui;
  font-weight: 900; 
 


}
.col-div-15{
  width: 14%;
  float: left;
}
.box11 {
  width: 90%;
  height: 100px;
  color:#ddd;
  background-color:#5f80e5;
  margin-left:10px;
  padding: 5px;
  text-align: center;
  border-radius: 25px;
  font-family: 'Malgun Gothic';
  font-weight: 900; 

 


}

.box p {
  font-size: 35px;
  color: white;
  font-weight: bold;
  line-height: 30px;
  padding-left: 10px;
  margin-top: 20px;
  display: inline-block;
}
.box p span {
  font-size: 20px;
  font-weight: 400;
  color: #818181;
}
.box-icon {
  font-size: 40px !important;
  float: right;
  margin-top: 35px !important;
  color: #b5c0bf;
  padding-right: 10px;
}
.col-div-8 {
  width: 70%;
  float: left;
}
.col-div-4 {
  width: 30%;
  float: left;
}
.content-box {
  padding: 20px;
}
.content-box p {
  margin: 0px;
  font-size: 20px;
  color: #f7403b;
}
.content-box p span {
  float: right;
  background-color: #ddd;
  padding: 3px 10px;
  font-size: 15px;
}

.box-4 {
  width: 100%;
  background-color: #272c4a;
  height: 700px;
}
.nav2 {
  display: none;
}

.box-8 {
  margin-left: 10px;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
td,
th {
  text-align: left;
  padding: 15px;
  color: #ddd;
  border-bottom: 1px solid #81818140;
}
.circle-wrap {
  margin: 50px auto;
  width: 150px;
  height: 150px;
  background: #e6e2e7;
  border-radius: 50%;
}
.circle-wrap .circle .mask,
.circle-wrap .circle .fill {
  width: 150px;
  height: 150px;
  position: absolute;
  border-radius: 50%;
}
.circle-wrap .circle .mask {
  clip: rect(0px, 150px, 150px, 75px);
}

.circle-wrap .circle .mask .fill {
  clip: rect(0px, 75px, 150px, 0px);
  background-color: #f7403b;
}
.circle-wrap .circle .mask.full,
.circle-wrap .circle .fill {
  animation: fill ease-in-out 3s;
  transform: rotate(126deg);
}

@keyframes fill {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(126deg);
  }
}
.circle-wrap .inside-circle {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background: #fff;
  line-height: 130px;
  text-align: center;
  margin-top: 10px;
  margin-left: 10px;
  position: absolute;
  z-index: 100;
  font-weight: 700;
  font-size: 2em;
}
::ng-deep #chart {
  height: 440px;
  width: 80%;
  margin-top: 150px;
  margin-left:100px;
  height: 600px;

  
}


select {
  width: 200px;
  
  height: 40px;
}
#chart1 {
position: relative;
    top: 120px;
  
  
    user-select: auto;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    

}
.dropdown {
  float: right;
  overflow: hidden;
  
  
  
 
  
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  
  background-color:white;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #021B79;
  
  box-shadow: 0px 8px 16px 0px rgba(231, 13, 13, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color:white;
  padding: 5px 7px;
  text-decoration: none;
  display: block;
  text-align: left;
  
}

.dropdown-content a:hover {
  background-color: #5f80e5;
  color: #ffffff;
}

.dropdown:hover .dropdown-content {
  display: block;
}
#btns{
font-size:16px;
color: blue;
background-color: white;


}

.mat-mdc-form-field + .mat-mdc-form-field {
  margin-left: 20px;
  margin-right: 20px;
}

.example-accordion {
  display: block;
  max-width: 300px;
  text-align: center;
  font-size: 20px;
 
  padding-left: 0px;
  color: #ebecf3;
  
  transition: 0.5s;
  font-family: 'Roboto', sans-serif;font-family: roboto,-apple-system,blinkmacsystemfont,"Segoe UI",roboto,oxygen,ubuntu,cantarell,"Open Sans","Helvetica Neue",sans-serif;

}

.example-accordion-item + .example-accordion-item {
  border-top: none;
    background-color:white;

}

.example-accordion-item-header {
  display: flex;
  align-content: center;
  justify-content: space-between;
  color: white;
  
}

.example-accordion-item-description {
  font-size: 0.85em;
  color: rgb(153, 153, 153);
}

.example-accordion-item-header,
.example-accordion-item-body {
  padding: 28px;
  color:white;
  margin-top: -10px;



}

.example-accordion-item-header:hover {
  cursor: pointer;
  color: #ddd;
  background-color:#021B79
}

.example-accordion-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 84px;

}

.example-accordion-item:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  

}

.lab{
  margin-left: 10px;
  color: #021B79;
  font-size: 20px;
}

.lab1{
  margin-left: 10px;
  color: #021B79;
  font-size: 20px;
}

.lab2{
  margin-left: 10px;
  color: #021B79;
  font-size: 20px;
}
.x{
  margin-left: -125px;
}
.xy{
  margin-left: -45px;
 
}
