<form>
  <input type="radio" name="fancy" autofocus value="clubs" id="clubs" />
  <input type="radio" name="fancy" value="hearts" id="hearts" />
  <input type="radio" name="fancy" value="spades" id="spades" />
  <input type="radio" name="fancy" value="diamonds" id="diamonds" />
  <label for="clubs"
    >
    <img
      src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse4.mm.bing.net%2Fth%3Fid%3DOIP.wmVr1W0nuF_M_OswcpjyjgHaEc%26pid%3DApi&f=1&ipt=dabdbaacf71f3e2d9eafdf2bfef4b2ce9066d4051342ca74bae73f0a955b26f8&ipo=images"
      alt="hi" /></label
  ><label for="hearts"><iframe src="http://localhost:4200/society"  height="500" width="500" title="description">hi</iframe></label
  ><label for="spades"><del>im deleted</del></label
  ><label for="diamonds">&#9830; Diamonds</label>

  <div class="keys">Use left and right keys to navigate</div>
</form>
